[2019-08-07 09:44] rimusz opened #1 "Hardcoded local path in go.mod"
https://github.com/hickeyma/helm-2to3/blob/master/go.mod#L21
Is that done for the reason?
Building locally and also `go get -d github.com/hickeyma/helm-2to3` fails with:
[code]

[2019-08-08 09:31] hickeyma commented on #1
Good catch @rimusz, thanks.

[2019-08-08 09:33] hickeyma commented on #1
Closing as #2 and #3 are merged.

[2019-08-08 09:33] #1 closed

[2019-08-08 09:37] hickeyma opened #4 "Retain the v2 releases"
From @rimusz in https://github.com/helm/helm/issues/6154#issuecomment-519016427;
Regarding the Delete the v2 release versions as Secrets or ConfigMaps we should have an extra flag to keep the v2 release or vice versa to delete v2 release.

From @rimusz in https://github.com/helm/helm/issues/6154#issuecomment-519027840:
+1 for the flag --keep-v2-releases and we should document that very clearly tha

[2019-08-08 10:34] #4 closed

[2019-08-08 10:56] rimusz opened #6 "Support off cluster helm v2 tiller"
It only works if `tiller` is running in the cluster, would be good to support `tillerless helm` too where tiller runs locally.

[2019-08-27 19:04] slenky opened #8 "Upgrade to helm v.3.0.0-beta"
All the migrated charts doesn't appear in ```helm ls -n ${ns}``` in Helm v.3.0.0-beta.1

Could you please upgrade the plugin?

[2019-08-28 09:12] slenky commented on #8
PR GH-9 did a trick for me and now I see migrated release. However, I am not a Go developer so mostly what I did is 'change things until they start to work' :)

BR,
Bohdan

[2019-08-30 13:25] hickeyma commented on #8
@slenky Thanks for raising this PR. The plugin has an issue because there were changes in the release metadata from Helm 3 alpha to beta. lets get the updated delivered in PR #9 that you have pushed.

[2019-09-02 16:57] #8 closed

[2019-09-04 13:54] hickeyma commented on #6
Closing as #10 merged.

[2019-09-04 13:54] #6 closed

[2019-09-04 15:00] alexandrsemak opened #11 "Not recognized multiple kube-config files in KUBECONFIG env variable"
Hello,

I have a bunch of clusters and merging kubeconfig files.
Looks like it is not working with this approach.
I have tested only with one kubeconfig file and it is working fine.

[code]

[2019-09-04 15:50] hickeyma commented on #11
@alexandrsemak It probably needs to handle different kubeconfigs instead of using the standard/default. However, the error message is rather confusing. Just trying to get better understanding of your set-up so I can troubleshoot this.

For the case that is working, how are you using one kubeconfig file wrt:
- Helm 2
- Helm 3
- plugin

For the case that is not working, how are you using multiple ku

[2019-09-04 15:54] hickeyma opened #12 "Support for moving Helm 2 configuration `.helm` folder to Helm 3"
Raised in https://github.com/helm/helm/issues/5892#issuecomment-526403837

[2019-09-04 16:26] rimusz commented on #12
maybe rename it to: Support for moving Helm 2 configuration .helm folder to Helm 3

[2019-09-04 16:30] rimusz opened #13 "cut a first release"
i think it would make a sense to cut first plugin release with binaries for linux, mac and windows, so users don’t have to do that themselves and it also would lover the entrance bar for the plugin usage and testing.

goreleaser would be good candidate to automate that :)

[2019-09-04 16:36] hickeyma commented on #12
@rimusz Any suggestion on the subcommand naming. First shot at it:
`helm 2to3 move config`

[2019-09-04 16:37] alexandrsemak commented on #11
@hickeyma
With multiple kubeconfig i have KUBECONFIG=$cluster1:/$cluster2:.... and kubectx for switching between them.
With single kubeconfig file I have used the same evn but just left only one kubeconfig KUBECONFIG=$cluster1

[2019-09-04 17:21] rimusz commented on #12
—move-config?
also what about if there is the helm 3 home folder, clean up up and copy again?

[2019-09-05 04:44] rimusz opened #14 "Move repository to Helm org"
I think the current stage of the plugin is good, we should move it to helm org, then cut a first release

[2019-09-05 13:19] hickeyma commented on #11
@alexandrsemak Does Helm v2 and Hem v3 have any issues with the multiple kubeconfigs? Do you have to pass `--kubeconfig ` for running Helm commands?

[2019-09-05 13:22] hickeyma commented on #12
Probably have to get input on this. Should the tool be simple in its approach and just override any existing files/dirs if configuration exists? Should the plugin be used before start doing work with Helm 3 on the cluster?

[2019-09-05 13:23] hickeyma commented on #13
@rimusz I think this is a good idea.

[2019-09-05 13:24] hickeyma commented on #14
l raise this today at the Helm dev weekly meeting.

[2019-09-05 13:39] rimusz commented on #12
yup, just override it, of course  we need to statė it very clearly in the docs

[2019-09-05 13:41] rimusz commented on #12
the plugin needs to be sample and easy to use 😃

[2019-09-05 17:21] alexandrsemak commented on #11
@hickeyma
with kubectx i don't use `--kubeconfig`
kubectx use `kubectl config set-context` under the hood

[2019-09-06 07:57] hickeyma commented on #14
There was a good response to moving the plugin to the Helm org. It was recommended to send a mail to the Helm org list proposing the move. Mail is sent, awaiting feedback.

[2019-09-06 08:17] rimusz commented on #12
also it makes sense to add an optional env var HELM_V2_HOME which could be provided if the  .helm folder is set not to the default location

[2019-09-07 09:52] rimusz opened #15 "Support multi OS on plugin install, upgrade"
Add plugin install, upgrade hooks to call a shell script which will download binary for currently used OS.

[2019-09-07 09:53] rimusz commented on #15
a nice script example https://github.com/chartmuseum/helm-push/blob/master/scripts/install_plugin.sh

[2019-09-07 11:25] rimusz opened #16 "Use goreleaser to automate multi OS binaries"
Implemented in #22

[2019-09-07 11:32] rimusz opened #17 "Upgrade to Helm v3 beta 3"
Implemented in #20

[2019-09-07 11:41] rimusz commented on #17
Solved in #18

[2019-09-07 11:42] rimusz commented on #15
Solved in #18

[2019-09-07 13:16] rimusz commented on #13
covered in #18

[2019-09-07 15:43] rimusz opened #19 "Add cleanup feature"
- cleanup home (delete .helm folder)
- cleanup releases (delete tiller releases)
- uninstall Tiller

By default `--dry-run` is set, so no cleanup can be done without providing `--disable-dry-run` flag.
We do not want users by mistake to run the full clean up.

[2019-09-08 13:47] rimusz commented on #12
Implemented in #18

[2019-09-09 15:10] #12 closed

[2019-09-09 15:10] #17 closed

[2019-09-09 15:15] hickeyma commented on #17
As per the comment in https://github.com/hickeyma/helm-2to3/pull/20#pullrequestreview-285582938, changes applied in #21

[2019-09-09 15:15] hickeyma commented on #12
As per the comment in https://github.com/hickeyma/helm-2to3/pull/20#pullrequestreview-285582938, changes applied in #21

[2019-09-10 16:33] hickeyma commented on #16
Closing as #22 has merged.

[2019-09-10 16:33] #16 closed

[2019-09-10 16:34] hickeyma commented on #15
Closing as #22 has merged.

[2019-09-10 16:34] #15 closed

[2019-09-10 16:34] hickeyma commented on #13
Closing as #22 has merged.

[2019-09-10 16:34] #13 closed

[2019-09-11 04:14] rimusz opened #23 "Retain the v2 releases by default"
To make less confusions and make the plugin more fool prove we should retain v2 releases by default.
And also change flag `--keep-v2-releases` to `--delete-v2-releases`

[2019-09-11 04:59] rimusz commented on #23
Implemented in #24

[2019-09-11 06:35] hickeyma commented on #23
Closing as #24 is merged.

[2019-09-11 06:35] #23 closed

[2019-09-11 09:41] hickeyma commented on #13
Closed when kicked off a release build using hooks added in #22

[2019-09-11 17:19] rimusz commented on #14
done

[2019-09-11 17:19] #14 closed

[2019-09-13 16:59] gucki opened #30 "Helm 2 and Helm 3 release version storage names clash"
I just installed helm3 with 2to3 v0.1.1 and wanted to convert a simple helm2 release to helm3. However it fails:

    $ helm3 2to3 convert -t ns1 xxx
    Release "xxx" will be converted from Helm 2 to Helm 3.
    [Helm 3] Release "xxx" will be created.
    [Helm 3] ReleaseVersion "xxx.v1" will be created.
    Error: release: already exists
    Error: plugin "2to3" exited with error

I tried anothe

[2019-09-13 17:58] rimusz commented on #30
can you try to run the: helm3 list -n namespace_of_your_release
to check the helm3 releases

[2019-09-13 18:04] gucki commented on #30
The namespace I'm working on is also my current one. Adding it to the command doesn't change anything:

    $ helm3 list -a -n ns1
    NAME	NAMESPACE	REVISION	UPDATED	STATUS	CHART

There can't be any relases, it's my first usage of helm3. I know the error message sounds a bit weird... :(

[2019-09-13 18:24] rimusz commented on #30
or you try to add to convert - --tiller-out-cluster -s configmaps or secrets (depending on your setup)

[2019-09-13 18:42] gucki commented on #30
No luck:

    $ helm3 2to3 convert -t ns1 --tiller-out-cluster -s configmaps xxx
    Release "xxx" will be converted from Helm 2 to Helm 3.
    [Helm 3] Release "xxx" will be created.
    Error: xxx has no deployed releases
    Error: plugin "2to3" exited with error

    $ helm3 2to3 convert -t ns1 --tiller-out-cluster -s secrets xxx
    Release "xxx" will be converted from Helm 2 to Helm 3.
    [

[2019-09-14 09:39] rimusz commented on #30
You do not really need to have tiller running in the cluster, the plugin can migrate any tiller release point I to the tiller namespace.

I cannot reproduce your error.

[2019-09-14 09:40] rimusz opened #31 "add `--debug` flag"
that should to show more detailed output

[2019-09-14 09:41] rimusz commented on #31
it would allow to debug such issue as #30

[2019-09-14 10:54] rimusz commented on #30
@gucki what k8s cluster you are running, on-pre/cloud/minikube?

[2019-09-14 12:36] hickeyma commented on #30
@gucki Seems like there is a secret in the cluster already with name `xxx`. Do you mind checking as follows:
`kubectl  get secrets -n ns1`

[2019-09-15 16:34] gucki commented on #30
@hickeyma You are right:

    xxx.v1                  Opaque                                1      66d
    xxx.v2                  Opaque                                1      19d

Are these from helm2? Can I safely delete them?

[2019-09-15 16:35] gucki commented on #30
@rimusz  on-prem managed with rke.

[2019-09-16 06:50] rimusz commented on #30
ok, I was able to reproduce it too, if the tiller stores releases information in the same namespace as the release itself then converting the release from v2 to v3 will fail as v2 and v3 use the same naming for secrets.
If the v2 releases are stored in the ConfigMaps than migration of the release will be successful.

[2019-09-16 07:37] hickeyma commented on #30
I have opened an issue with Helm community as the issue occurring here is because of the same naming convention for release storage in Helm 2 and Helm 3: https://github.com/helm/helm/issues/6435

[2019-09-16 07:49] gucki commented on #30
@hickeyma @rimusz Is there an easy way to convert the helm2 secrets to confimaps or does the content differ? Could the plugin do this automatically in case it detects a clash? I think this'd be the easiest solution?

[2019-09-16 08:00] hickeyma commented on #30
@gucki I don't think this is something the plugin can just workaround. It needs to migrate as Helm 3 expects the releases.

At the moment Helm 3 is in Beta so we can still work out issues before going GA.

[2019-09-16 08:47] gucki commented on #30
@hickeyma Is is because the format of the secret and configmap are different? If the plugin would state that the migration irreversible in that case, why not? Also in that case the plugin could simply delete the old releases/ secrets before creating the new ones? Otherwise I'd prefer it over a breaking change of helm3, because I assume some people already use.

[2019-09-16 08:49] rimusz commented on #30
@gucki v2 and v3 use the same secrets naming convention and as helm v3 is till in beta we need to make it right :)

[2019-09-16 16:53] cringdahl opened #32 "Helm 3 dependency update fails after migration"
OS: macOS

After a `helm3 move config`, a `helm3 dep update` bails due to the error:

`Error: open /Users/username/Library/Caches/helm/repository/local-index.yaml: no such file or directory`

Copying the `.helm/repopsitory/cache/local-index.yaml` to the specified location results in a successful dependency update.

The 2to3 plugin should copy this file.

[2019-09-16 18:34] rimusz commented on #32
local repo as it is no longer supported in v3, this why the files wasn't copied

[2019-09-16 18:35] cringdahl commented on #32
Why is there an error as though helm3 is looking for it?

[2019-09-18 08:22] #19 closed

[2019-09-18 09:24] hickeyma commented on #19
@rimusz Small change on the proposal in the description:

It is not set by default. There is however a warning on the changes and also a confirmation question if the use wants to proceed as follows:

[code]

[2019-09-18 09:31] rimusz commented on #19
The warning works very well 👍

[2019-09-19 15:56] hickeyma opened #36 "Add dry run option to move config"
It would be handy to have the dry run option like the other operation in the plugin.

[2019-09-20 13:03] #36 closed

[2019-09-20 13:36] hickeyma opened #38 "How plugin should react when errors occur during an operation"
This issue is to decide on how the plugin should behave when an error occurs during an operation.

This is the proposal:
- Move configuration:
   - Display error if it occurs but continue on creating directories, files etc. for the different configurations
- Convert releases:
   - Exit when an error occurs, displaying the error
- Cleanup:
   - Exit when an error occurs, displaying the error

[2019-09-20 14:05] rimusz commented on #38
Sounds good

[2019-09-21 14:19] TrurlMcByte commented on #30
Looks like converter do something wrong in some cases.
I have converted all releases in all clusters, but only stable/mysql failed (in all clusters). It's really converted, but helm list can't parse it. Debug show messages like
[code]
In this case repeating convert fails with ```Error: release: already exists``` error

[2019-09-21 14:22] TrurlMcByte commented on #30
inside release this part about "hooks"
[code]

[2019-09-23 08:57] hickeyma commented on #30
@TrurlMcByte Can you raise a separate issue for this as it is different to this issue?

[2019-09-24 08:15] rimusz opened #40 "Limit number of migrated v2 releases"
Helm v3 by default keeps last 10 releases, plugin should be default also only migrate 10 last releases.

`--releases-number` flag can be added if user wants to migrate more releases.

[2019-09-24 10:22] #38 closed

[2019-09-24 11:19] hickeyma opened #43 "Tiller Kubernetes service object not being removed in cleanup"
When check after cleanup, this remains:

[code]

[2019-09-24 11:38] #43 closed

[2019-09-25 09:33] rimusz commented on #11
I was able to reproduce it with `export KUBECONFIG=$cluster1:/$cluster2` got the same
error:
[code]

[2019-09-25 10:14] rimusz commented on #11
ideally it should not be part of the plugin, we could just add a note, single kubeconfig is only supported, as otherwise plugin will get too messy

[2019-09-25 10:40] alexandrsemak commented on #11
why plugin just not able use current `context`? which use `kubectl` with `set-context`

[2019-09-25 10:46] rustycl0ck opened #45 "Error: release: already exists"
Installed a release with helm2 along with `tiller` plugin. This creates the release in secrets `my-releasee-name.v1` format already. Thus, the plugin fails to migrate anything from v2 to v3.

[code]

[2019-09-25 10:50] hickeyma commented on #45
@rustycl0ck Is this a duplicate of #30 ?

[2019-09-25 11:44] rimusz commented on #30
a fix is in https://github.com/helm/helm/pull/6500 which should be released in helm v3 beta 4 soon

[2019-09-25 12:10] rustycl0ck commented on #45
Yes, It is dumplicate. I will close this and follow up on the status of #30.

[2019-09-25 12:10] #45 closed

[2019-09-25 12:27] hickeyma commented on #45
ok, thanks @rustycl0ck

[2019-09-25 22:40] alexandrsemak opened #46 "Don't throw error for already converted release"
It is possible to not throw error if u already convert release?
for ci/cd it would be useful avoid use try/catch or equivalent.
maybe with additional flag `--ignore-converted`

[2019-09-26 17:05] hickeyma commented on #30
helm/helm#6435 now fixed and will be in Helm 3 Beta 4.

[2019-09-26 17:05] hickeyma commented on #30
Closing as fix now ion Helm core.

[2019-09-26 17:05] #30 closed

[2019-09-27 12:57] rimusz commented on #46
@alexandrsemak until we implement it you can run it with `|| true`

[2019-09-27 12:58] rimusz commented on #11
it needs to be implemented :)

[2019-09-27 15:02] hawksight opened #49 "Unwanted behaviour when cleanup performed not using plugin"
Ok so I converted a cert-manager release from vv2 to v3:

[code]

Release existed in v2 & v3 as expected:

[code]

So I attempted to delete the v2 release hoping that it would go from v2, remain in v3 and the pod would survive:

[code]

But unfortunately the actual pods were gone:

[code]

So I had the v3 release but no pods living under it (in any namespace).

## Sort of fix..

As I wasn't so bot

[2019-09-27 15:06] rimusz commented on #49
it happens with the `--delete-v2-releases` flag if you skipped it can clean later one with https://github.com/helm/helm-2to3#clean-up-helm-v2-data

[2019-09-27 15:07] rimusz commented on #49
and btw cert-manager from v0.7 to v0.10 is a better a clean install

[2019-09-27 15:10] hawksight commented on #49
Thanks @rimusz - but in this case I had another release in v2 so I didn't want to use the cleanup just yet.

Are you saying that essentially once converted, in theory deleting either v2 or v3 release would delete the pods / resource created by the release?

I should convert all releases and then use the `cleanup` command to remove all v2 stuff basically? I shouldn't try and remove manually 1 by 1?

[2019-09-27 15:19] hickeyma commented on #49
@hawksight That is correct. The tool on cleanup, just removes Helm v2 objects and not the underlying Kubernetes resources.

The user SHOULD not need to go around deleting things. If they do, then there is an issue in the plugin.

[2019-09-27 15:19] rimusz commented on #49
@hawksight
yes to both questions :)

[2019-09-27 15:21] hickeyma commented on #49
Ok, so maybe this is a docs issue to add a note to not delete anything and let `cleanup` do it.

[2019-09-27 15:28] hickeyma commented on #49
@hawksight Thanks for  the feedback so far. So we can improve the UX. Where in the README/docs made you want to delete the v2 data directly?

[2019-09-27 15:55] hawksight commented on #49
Thanks both for answers.
These are my thoughts so far, and I'll preface this with, really nice idea to have the plugin do all the hard work.

### relating to this issue
For my first release migration I wanted to be sure it went across to v3 before using any `--delete-v2-release` flag.. incase it went wrong.

[code]

^ See the bit about the note ... `the v2 releases still remain and should be remov

[2019-09-27 16:06] hickeyma commented on #49
@hawksight Thanks for the great feedback. I had pushed a PR before your comments. I will look to integrate your comments into the PR.

[2019-09-30 11:38] rimusz opened #52 "How to use multiple Kubernetes configuration files with the plugin"
There is a use cases where multiple configuration files are used for accessing different Kubernetes cluster.

This can be configured by setting `KUBECONFIG` variable as follows:
[code]

It should be documented how the plugin handles this configuration.

[2019-09-30 13:19] hickeyma commented on #49
Re-triaging this as an UX bug. Needs better clarification for the user when migrating and cleanup.

[2019-09-30 13:34] hickeyma commented on #52
This is related to #11

[2019-09-30 16:05] hickeyma commented on #49
@hawksight To help improve the UX, we have done the following:
- Improved readability in the README around cleanup: https://github.com/helm/helm-2to3/pull/50
- Updated the removal message after convert to emphaise use `helm cleanup`: https://github.com/helm/helm-2to3/pull/51
- Extended cleanup functionality to allow cleanup to be done in individual parts as well (config, release data and tiller):

[2019-09-30 16:15] rimusz commented on #49
@hawksight just keep in mind that #51 and #53 have been only merged to master and will be released in `2to3` v0.1.4 maybe this week

[2019-09-30 21:12] nlowe opened #55 "Plugin cannot be installed with "helm plugin install" on windows"
Running `helm3 plugin install` on windows seems to download and extract the package, but the installer seems to want to use a shell script which won't work on windows:

[code]

The plugin clearly exists:

[code]

Downloading a windows tarball from the releases page and trying to `helm3 plugin install` that doesn't work either:

[code]

Removing the hooks and patching the `command` seems to fix it:

[2019-10-01 09:54] rimusz commented on #55
I will try to look to this when I get some free cycles

[2019-10-01 16:05] hickeyma commented on #32
@cringdahl There are some differences between cache in Helm v2 and Helm v3 which don't align. Therefore, the configuration migration copies the repository file and not the local repositories. These need to be re-aligned in Helm v3 as is now documented by the changes in PR https://github.com/helm/helm-2to3/pull/56.

Rather than copying over the local repository, would suggest removing it with `repo

[2019-10-01 16:26] #32 closed

[2019-10-01 16:34] cringdahl commented on #32
Will this be documented or produce an error? This seems like it will be a common error for future migrators.

[2019-10-02 12:57] karuppiah7890 commented on #46
I can take a shot at this! This is the first time I'm going to try to contribute to this repo, so I'll ping if I have any questions. Also, please do put any pointers that I have to keep in mind while working on this! 😄

[2019-10-02 14:07] hickeyma commented on #46
@karuppiah7890 Can you hold back on this. Not sure we want to do this yet. Let me get back to you on it.

[2019-10-02 14:15] karuppiah7890 commented on #46
Sure! I was just trying out the plugin for now. And I had some questions on how to go about this issue. Let me know if it's needed. I'll resume then 😄

[2019-10-03 04:24] #40 closed

[2019-10-03 04:28] hickeyma commented on #40
`--release-versions-max` flag was used instead.

[2019-10-03 04:58] hickeyma commented on #46
@alexandrsemak Currently, the plugin works as follows:
- Retrieves the Helm v2 release version/revisions from storage in clusters
- Maps the release versions to Helm v3 metadata
- Calls Helm v3 storage API to store each release version. The storage API throws an error if there is an issue which includes if the release version already exists in the cluster

To check if a release is already converte

[2019-10-03 05:23] hickeyma commented on #31
@rimusz At the moment, the plugin is quite verbose on each action it is performing. This is to make the caller aware of the command running and the operations being performed for that command. This would be expected trace for such a tool like the plugin.

Here is an example of the convert output:

[code]

Re issue #30, the plugin did its job and returned all information information to the caller t

[2019-10-03 06:58] rimusz commented on #46
I'm in favour of the simple plugin as well, no needs to make it too complicated.

Running convert with  `|| true` easily moves the problem.

[2019-10-03 07:00] rimusz commented on #31
@hickeyma fair enough answer, we can close this issue then.

[2019-10-03 07:00] #31 closed

[2019-10-03 08:33] rimusz opened #60 "Cleanup shows the same message don't matter which flag is used"
e.g. even if only `--release-cleanup` flag is used it still shows the message:
[code]
It show show only:
[code]

[2019-10-03 09:47] #60 closed

[2019-10-03 12:49] #52 closed

[2019-10-03 12:54] rimusz commented on #11
How to use single `kubeconfig` in env var `KUBECONFIG` was documented in #63

[2019-10-03 14:06] alexandrsemak commented on #46
kk, it is just proposal i am ok with leave as is

[2019-10-03 14:09] hickeyma commented on #46
Closing following discussion agreement.

[2019-10-03 14:09] #46 closed

[2019-10-04 08:31] hickeyma commented on #49
Ping @hawksight. Are you happy with the updates here to improve the UX?

[2019-10-04 15:39] hawksight commented on #49
hey both, I'll check the next release out as soon as I see it (maye be away for a couple weeks).
I read through the PRs #50, #51 and #53, and they all look to make things clearer.
So I still have more migrations and will continue them with the newer instructions.
Thanks for taking the feedback onboard and updating so quickly.

[2019-10-04 15:45] hickeyma commented on #49
Ok, thanks @hawksight for your feedback. Let us know how you get on when testing again.

[2019-10-04 15:45] #49 closed

[2019-10-08 21:28] hickeyma opened #64 "Upgrade to Helm v3 Beta 4"

[2019-10-09 16:57] #64 closed

[2019-10-15 16:34] rimusz commented on #55
ok I tested the latest plugin version `0.1.4` on Windows with Helm v3 beta 4, it everything worked fine for me.
I installed https://git-scm.com/downloads and used `git bash` to run commands:

<img width="1078" alt="Screenshot 2019-10-15 17 27 10" src="https://user-images.githubusercontent.com/5215395/66851115-00c91880-ef72-11e9-8877-797d4140290a.png">

[2019-10-17 06:23] zodiac182 opened #67 "Nothing in helm3 list after 2to3 migration."
I did helm3 2to3 convert for migration. Seems the migration was successful.
[root@ray-cwes-03 ~]# helm3 2to3 convert cert-manager
2019/10/17 06:17:36 Release "cert-manager" will be converted from Helm v2 to Helm v3.
2019/10/17 06:17:36 [Helm 3] Release "cert-manager" will be created.
2019/10/17 06:17:36 [Helm 3] ReleaseVersion "cert-manager.v1" will be created.
2019/10/17 06:17:36 [Helm 3] Release

[2019-10-17 06:58] zodiac182 commented on #67
Sorry

[2019-10-17 06:58] #67 closed

[2019-10-30 12:37] walduino opened #70 "Arm64 build"
I was testing helm3 on an arm64 cluster, used
$ helm plugin install https://github.com/helm/helm-2to3
to install the plugin but got a  ELF 64-bit LSB executable, x86-64.

Not sure if helm checks the cpu architecture and its just making an arm build or if helm is just ignoring the cpu arch.

[2019-10-30 12:50] rimusz opened #71 "Upgrade to Helm v3 RC 1"

[2019-10-30 13:37] hickeyma commented on #70
@walduino Thanks for raising this. Support needs to be added for arm64. PR #72 opened.

[2019-10-30 13:40] #71 closed

[2019-10-30 16:27] bacongobbler opened #75 "plugin fails to install"
Spending today testing the Helm 2 to Helm 3 migration path using the 2to3 plugin!

When attempting to install 2to3 on a fresh install, I see this on Ubuntu:

[code]

It looks like the install script refers to a release that hasn't been released yet.

[2019-10-30 16:53] hawksight opened #76 "Release object not migrated to release namespace"
I had previously migrated a jetstack cert-manager installation to helm3 with the helm3 beta5 release (pretty sure).
Because I'm on 0.7.0 of the chart, I need to upgrade to > 0.8.0 of the application.

Upon trying to upgrade I get the following issue (with beta 5):

[code]

I tried upgrading to the new rc.1 version and that is a little better, but same underlying issue:

[code]

I noticed the follo

[2019-10-30 16:54] rimusz commented on #75
plugin v0.1.6 was released

[2019-10-30 16:55] hickeyma commented on #75
@bacongobbler I think this was a case of timing here! :)  Release v0.1.6 got held up and went out of sync. Can you try it again?

[2019-10-30 16:57] bacongobbler commented on #75
works now. Thanks!

[2019-10-30 16:57] #75 closed

[2019-10-30 17:10] rimusz commented on #70
v0.1.6 got arm64 support:
[code]

[2019-10-30 17:14] rimusz commented on #76
which plugin version are you using?
can you try the latest v01.6 which supports helm v3 RC1

[2019-10-30 17:16] hickeyma commented on #76
@hawksight Do you mind showing all secrets for Helm 3: `kubectl get secret --all-namespaces -l "owner=helm"` ?

[2019-10-30 17:28] hickeyma commented on #76
I am pretty sure that this is a bug that was fixed with https://github.com/helm/helm/pull/6798. The fix was delivered in Helm 3 RC-1. It is therefore fixed in the plugin in [v0.1.6](https://github.com/helm/helm-2to3/releases/tag/v0.1.6).

The downside is that it works for future migrations only.

[2019-10-30 17:47] bacongobbler opened #77 "suggestion: timestamps should be removed from information prompts"
When prompting for information, a timestamp should not be part of the output.

e.g.

[code]

When the CLI is prompting me for a y/n answer, there shouldn't be any timestamp present. The rest is fine.

[2019-10-30 17:53] rimusz commented on #77
it the should optional to enable, as some users will be running migration part of their CI jobs, so there the timestamp would be preferable to have.

[2019-10-30 17:59] bacongobbler commented on #77
CLI prompts which ask for human input should not display timestamps. Those are not part of the CI/CD workflow, Informational log messages are fine to display timestamps.

[2019-10-30 19:07] rimusz commented on #55
I did the same tests with v0.1.6 as above, all worked fine.

[2019-10-31 09:16] hickeyma commented on #76
FYI, this bug was introduced with Helm beta 5 when the Helm client API was changed.

Workaround for migrated secrets with incorrect namespaces:

- Can copy a secret with a command like the following: `kubectl get secret <secret_name> --namespace=<source_namespace> --export -o yaml | kubectl apply --namespace=<destination_nameapace> -f -`
- Delete the secret as follows: `kubectl delete secret <secr

[2019-10-31 10:54] hickeyma opened #83 "Add raw values to v3 metadata"
Add fix for Helm issue https://github.com/helm/helm/issues/6354.  Fixes issue with `helm show values`.

***Note: This issue is blocked until https://github.com/helm/helm/pull/6841 lands which should be available in Helm 3 RC-2. ***

[2019-10-31 10:55] hickeyma commented on #83
I will work on this once RC-2 is released.

[2019-10-31 11:20] hawksight commented on #76
Thanks all for your thoughts. I have updated the plugin as well and copied the secret over.
I'm still having issues, but I think its down the the cert-manager helm chart and the custom resources it uses, so battling away at that.

I will if I have any but I think I've killed helm2 in all my clusters now.. onwards and upwards as they say.

[code]

^ for reference but don't think you need it now.

[2019-10-31 11:24] hickeyma commented on #76
Thanks for the feedback @hawksight. As mentioned in Helm slack, be aware that breaking changes happened between the different beta versions of Helm. Therefore, any migrations from earlier version might have issues. In other words, don't use in production until GA and happy all is stable.

[2019-11-02 10:51] rimusz opened #84 "Upgrade to Helm v3 RC 2"

[2019-11-04 09:29] #84 closed

[2019-11-04 17:40] bacongobbler commented on #83
This can be closed as https://github.com/helm/helm/pull/6841 won't actually add anything to the release metadata. It's just changes how charts are loaded into memory so we can access the raw files. :)

[2019-11-04 17:48] hickeyma commented on #83
Sure, thanks @bacongobbler. After the review today I realised that.

[2019-11-04 17:49] hickeyma commented on #83
Closing as no data being persisted from  helm/helm#6354.

[2019-11-04 17:49] #83 closed

[2019-11-06 15:42] bacongobbler opened #86 "bump to rc.3 once released"
https://github.com/helm/helm/pull/6866 introduced a breaking change to the storage backend which will affect how 2to3 creates releases. A larger explanation/justification for the breaking change was provided in https://github.com/helm/helm/pull/6881#issuecomment-550364678. The 2to3 plugin should cut a new release compiled against Helm 3.0.0-rc.3 once it's been released later today to be compatible

[2019-11-06 15:46] rimusz commented on #86
sure

[2019-11-06 16:03] hickeyma commented on #86
@bacongobbler This is not a breaking change for the plugin. No changes are required.

FYI, we would always update to the latest release of Helm 3 in any case.

[2019-11-06 16:04] hickeyma commented on #86
I will update once RC-3 is released.

[2019-11-06 16:14] bacongobbler commented on #86
The call to `cfg.Releases.Create` on [line 97](https://github.com/helm/helm-2to3/blob/6a55fabae68bf7bc9a4eb7878869e39a492c1437/pkg/v3/release.go#L97) may migrate a Helm 2 release as the older Helm 3 metadata. That might not be compatible with Helm 3.0. I'll have to check and confirm just to be 100% sure, but in any case I wanted to reach out. In either case, updating to rc.3 will remove any doubts

[2019-11-06 16:18] bacongobbler commented on #86
It was identified from https://github.com/helm/helm/pull/6881#issuecomment-550382661 that this may not actually be a backwards-incompatible change. Phew!

[2019-11-06 16:46] hickeyma commented on #86
In middle of something at moment but will try and get to it shortly. Off hand, should be ok. Will check shortly. Thanks for reaching out @bacongobbler

[2019-11-06 17:55] hickeyma commented on #86
@bacongobbler Looking at it, it works as expected. This is because the plugin interfaces with the Helm object field name definitions and not the persisted object field names. It would only be affected if the Helm object definitions changed and/or relevant API changed.

[2019-11-06 18:22] #86 closed

[2019-11-06 20:42] marckhouzam opened #88 "Deployed version of release not migrated"
The plugin normally limits the number of versions migrated.  It can happen that it chooses the wrong versions to migrate, and in some cases it can even skip the currently deployed version.

I believe the problem comes from the fact that release versions are sorted alphabetically by the plugin instead of numerically.  So between version 9 and version 10, the plugin believes version 9 is the most re

[2019-11-07 11:33] hickeyma commented on #88
Good catch @marckhouzam. Will push a pr shortly.

[2019-11-07 16:39] rimusz commented on #55
@nlowe does it work for you the approach I used above or do we still need to do something at our end?

[2019-11-07 16:58] #88 closed

[2019-11-07 17:27] nlowe commented on #55
I'll take a look later Today and let you know

[2019-11-08 15:34] nlowe commented on #55
I've confirmed this still doesn't work in PowerShell out of the box, users on windows will need to run this from Git Bash (or a similar prompt that provides `bash` on windows). Can we update the README to make this more clear? As it stands currently, users on Windows can't follow the install instructions.

[2019-11-08 15:47] hickeyma commented on #55
@bacongobbler What is expected support for plugins on Windows?

[2019-11-08 16:03] bacongobbler commented on #55
Currently, plugin hooks are expected to be executed via WSL or mingw64, as the plugin hooks are all run under `/bin/sh`. This is true for both Helm 2 and Helm 3.

https://github.com/helm/helm/blob/865c46c014cdb7622f97ae287ee92fb8a280f3a9/cmd/helm/plugin.go#L56-L58

[2019-11-13 15:42] rimusz opened #91 "Upgrade to Helm v3.0.0 GA"

[2019-11-13 17:54] rimusz commented on #91
fixed in #92

[2019-11-13 17:54] #91 closed

[2019-11-14 08:52] zodiac182 opened #93 "How to answer yes for all question?"
If I want to run it with ansible, how to answer yes for all questions when doing migration to helm v3?

\#  helm3 2to3 move config
2019/11/14 08:53:51 WARNING: Helm v3 configuration maybe overwritten during this operation.
2019/11/14 08:53:51
[Move Config/confirm] Are you sure you want to move the v2 configration? [y/N]:

[2019-11-14 12:25] rimusz commented on #93
this should do it:
[code]

[2019-11-15 01:18] zodiac182 commented on #93
It works, thank you very much.

[2019-11-15 01:19] #93 closed

[2019-11-17 10:09] halradaideh opened #94 "Migrating release dose not always work"
I have tried to migrate all the release from Helm v2 to Helm v3 using the plugin, only two out of 25 get migrated, when i tried to migrate them again the plugin fails with error stating that the release already exist, using helm3 ls -a dose not show it !

i can't provide any information about helm 2, because i made clean up, but helm3 still exist.

[2019-11-17 11:51] elfhack commented on #94
@halradaideh you need helm ls --all-namespaces now

[2019-11-17 11:55] halradaideh commented on #94
@elfhack isn't there a proper documentation for deferences between helm 2 and 3 ?

[2019-11-17 11:58] karuppiah7890 commented on #94
You can check the `helm ls --help` command. `-a` never meant all namespaces if that was the expectation

For v2:

[code]

For v3:

[code]

[2019-11-17 11:59] karuppiah7890 commented on #94
`--all-namespaces` is a new feature in helm3, which wasn't present in helm2

[2019-11-17 12:12] halradaideh commented on #94
thank you

[2019-11-17 12:12] #94 closed

[2019-11-18 19:09] hickeyma commented on #94
@halradaideh Worth looking at [v3 docs](https://helm.sh/docs/) and [changes section](https://helm.sh/docs/faq/#changes-since-helm-2)

[2019-11-19 17:32] nlgntr opened #95 "2to3 cleanup issues, unclear of problem"
I'm looking at doing in-place migrations of helm 2 releases to helm 3 via Jenkins. Moving the configuration and release works with no issue, but when I try to dry-run 2to3 clean-up I'm getting an error with no specific reasons why?

[code]

With Helm 2 deployments we've had to use `--tiller-namespace tiller --tls` options. Is it possible to get more error output from 2to3 or is there something I'm

[2019-11-21 13:15] #95 closed

[2019-11-21 13:15] nlgntr commented on #95
Closing for now - this appears to no longer be a problem.

[2019-11-22 04:14] shencan opened #96 "After Migration 2to3 helm list There's no information"
Migration setp
1.install plugin
`
helm plugin install https://github.com/helm/helm-2to3
`
2. move config
`
$ export HELM_V2_HOME=$HOME/.helm
$ export HELM_V3_CONFIG=$HOME/.helm3
$ export HELM_V3_DATA=$HOME/.helm3
$ helm 2to3 move config
`
3.clean up
`
helm 2to3 cleanup
`

4.helm list  There's no information
`
helm list
`

[2019-11-22 04:18] #96 closed

[2019-11-26 10:11] smeeklai opened #97 "Got Error: RELEASE_NAME has no deployed releases"
I'm currently using Helm with Tillerless option. When I tried to convert a release, I got `Error: RELEASE_NAME has no deployed releases` error, regardless whether I used `--dry-run` or not

[code]

Versions:
Helm: `2.16.1`
Helm-tillerless plugin: `0.9.3` (just upgraded from `0.8.1` after I got the error)

[2019-11-26 10:14] rimusz commented on #97
what `helm tiller run -- helm list` shows you?

[2019-11-26 10:41] smeeklai commented on #97
I store releases in their respective namespace. E.g., the above release is stored in a namespace called `monitoring`.

So `helm tiller run monitoring -- helm list` gave me the correct result:

| NAME | REVISION | UPDATED | STATUS | CHART | APP VERSION | NAMESPACE |
| ------ | ---------- | ---------- | -------- | ------- | -------------- | ------------- |
| grafana | 23 | Tue Sep 24 18:06:01 2019 |

[2019-11-26 10:42] smeeklai commented on #97
Btw, I ran `export HELM_HOST=localhost:44134 && helm tiller start-ci NAMESPACE` when I need to use Helm so I ran the command and then used the plugin

[2019-11-26 10:43] rimusz commented on #97
the you need to use one more flag `--tiller-ns` and provide the namespace name for each release

[2019-11-26 10:46] smeeklai commented on #97
Thank you. It certainly fixed the issue. Sorry for not reading the help message properly

[2019-11-26 10:46] rimusz commented on #97
no worries, glad it is working for you

[2019-11-26 10:46] #97 closed

[2019-11-29 21:34] bacongobbler commented on #55
Works for me under WSL:

[code]

@nlowe for true Windows support for helm plugins, please follow https://github.com/helm/helm/issues/7117. I opened a ticket upstream so that plugins can provide install hooks that work in a Windows environment. Thanks!

[2019-11-29 21:34] #55 closed

[2019-12-04 00:58] timfallmk opened #98 "`move` creates plugin symlinks which are removed by `cleanup`"
I ran the migration steps as intended and ended up with broken plugins. It seems that the `2to3 move` step creates symlinks to existing plugins (which are later cleaned up) in the new plugin directory.

[code]
You can see newly installed plugins (`2to3`) are installed to the correct location, but plugin _binaries_ are not moved for existing plugins.

At this point `helm plugins list` will show all

[2019-12-06 16:20] hickeyma commented on #98
@timfallmk Thanks for find this issue. I have push PR #100 as a fix. If you get a chance, can you try it out and see if it fixes the issue?

[2019-12-06 23:18] lcsfreire opened #101 "component=helm error="error creating helm client: services \"tiller-deploy\" not found""
Hello,
after move releases from v2 to v3, the helm operator isn't able to apply the changes done at helmreleases and is logs the error:
caller=helm.go:78 component=helm error="error creating helm client: services \"tiller-deploy\" not found"
It's possible to fix this?
Best Regards

[2019-12-07 00:07] rimusz commented on #101
the helm operator you are using needs to support helm v3

[2019-12-07 00:54] timfallmk commented on #98
@hickeyma Thanks! I'll give it a look soon.

[2019-12-07 13:38] lcsfreire commented on #101
any guidance how to do it?
Thanks

[2019-12-07 14:10] rimusz commented on #101
it is not part of this project, so you need to contact helm operator maintainers

[2019-12-07 14:11] #101 closed

[2019-12-09 08:20] #98 closed

[2019-12-16 02:10] skaji opened #103 "`helm3 2to3 move config` does not keep file permission"
`helm3 2to3 move config` does not keep file permission;
especially it does not keep executable file permission, so we may not execute plugins.

[code]
[code]

[2019-12-16 02:18] skaji commented on #103
https://github.com/helm/helm-2to3/blob/cc4102ef61e863bc3428f6a866140674a18d4e43/pkg/common/utils.go#L155

[2019-12-16 10:59] #103 closed

[2019-12-18 05:12] Bajix opened #105 "How does this work with CircleCI?"
I'm very new to Helm, and I've inherited a Helm 2 project using CI via CircleCI and AWS EKS. As the repos etc are all on CircleCI, how should this upgrade process work? Does the upgrade from 2 to 3 affect any files that are in source control, or is this solely to not break deployment artifacts? Do I even need to do this upgrade at all or can I simply arbitrarily use Helm 3 and then rely on the CI

[2019-12-18 12:13] hickeyma commented on #105
@Bajix [helm-2to3](https://github.com/helm/helm-2to3/) is a tool to help with migrating Helm 2 managed cluster to Helm 3.  The [migration doc](https://helm.sh/docs/topics/v2_v3_migration/) provides good context and description of the migration process for Helm.

If you are new to Helm then I would suggest reading the documentation first to get an understanding of Helm:

- v2 docs: https://v2.helm.

[2019-12-19 21:49] edvald opened #106 "--kube-context parameter not respected"
Just ran into this bug. Turns out you need to set your default context to the one you're interested in, because the plugin ignores the `--kube-context` parameter (which is a global param on the `helm` CLI).

This is actually kinda dangerous (more so than #11) because you could easily accidentally interact with the wrong cluster and screw things up, thinking your normal global Helm parameters work

[2020-01-07 16:47] hickeyma commented on #105
Closing as question is answered.

[2020-01-07 16:47] #105 closed

[2020-01-07 17:00] hickeyma commented on #106
@edvald The plugin does not support the `--kube-context` flag. This flag is specific to Helm only.

It should work similar to `kubectl` access using [kubeconfig files](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/).

[2020-01-08 18:02] edvald commented on #106
That's understood. I guess it's partly an artefact of the `helm` plugin system design, but I think it's kinda dangerous to silently accept the `--kube-context` parameter and then ignore it. I'd suggest either giving an error/warning when it's specified or implementing support for it, to avoid potential accidents or confusion when migrating.

[2020-01-09 14:38] danielc103 opened #107 "Requesting resources outside of set kube-context namespace"
Dry run using service account on in a specified namespace fails due to secrets request outside of set namespace
[code]
[code]
Expected behavior - only request resources in namespace set in kube-context.

[2020-01-14 17:58] jonstelly opened #108 "plugin install error on Windows - "Error: The Remote does not match the VCS endpoint""
Windows 10, try to install plugin and I got:

helm version:
`version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}`

install command:

``helm plugin install https://github.com/helm/helm-2to3 --debug`

Error:
[code]

Turns out I had a temp directory `C:\Users\ME\AppData\Local\Temp\helm` that must have had bad data in it

[2020-01-14 17:58] #108 closed

[2020-01-15 07:35] hickeyma commented on #108
Thanks for the information @jonstelly

[2020-01-15 16:17] hickeyma commented on #107
@danielc103  Would you be like to add to the README (https://github.com/helm/helm-2to3#prerequisite) about needing access to the Tiller namespace to retrieve the v2 releases?

[2020-01-16 11:42] hickeyma commented on #107
@danielc103 Just wondering if your cluster is RBAC enabled? If so, is Tiller deployed and running in the cluster? Can check with command if deployed to `kube-system`: `kubectl get pods -n kube-system -l app=helm`

Can you do a `helm ls` (using Helm v2) on CLI where you run the `convert` command? i would like to see the output. Trying to work out if this is an issue with RBAC and service account.

[2020-01-16 14:05] danielc103 commented on #107
Yes, I can definitely add to the readme!

Yes our cluster is RBAC enabled. We are restricting developer use by creating a 'helm-deployer' service accounts in their owned namepsace only for the deployments.

`User "system:serviceaccount:test:helm-deployer"`

This restricts any kubectl commands outside the namespace and will throw the forbidden errors.  We are also using  tillerless deployment, so n

[2020-01-16 14:09] hickeyma commented on #107
Ok, that explains it. I think adding to the README would be great. I will assign the issue to you and push a PR when you get a chance. Thanks.

[2020-01-17 16:26] hickeyma commented on #106
@edvald Are you sure that the flag was accepted silently? I just ran it and got this:

[code]

[2020-01-17 16:31] edvald commented on #106
It turns out the ordering matters. If you put `--kube-context` before `2to3` it's silently dropped, otherwise the error is thrown.

[2020-01-17 16:32] hickeyma commented on #106
Ok that makes sense; that is passing the flag to helm and not the plugin. Not much the plugin can do about that!

[2020-01-17 16:34] edvald commented on #106
Well, except to actually use the environment variable that `helm` sets: https://helm.sh/docs/topics/plugins/#environment-variables

That would be the expected behavior imo.

[2020-01-17 16:35] hickeyma commented on #106
Trying that as well, cannot get it to work:

[code]

What is the command you run?

[2020-01-18 23:01] edvald commented on #106
You just missed the value for the `--kube-context` parameter, e.g. `--kube-context=foo`

[2020-01-20 10:30] #107 closed

[2020-01-21 17:51] hickeyma commented on #11
Finally, getting back to this issue again.

I have tracked it down to an issue with the [helm-plugin-utils library](https://github.com/maorfr/helm-plugin-utils). [Issue](https://github.com/maorfr/helm-plugin-utils/issues/1) was already raised in project and have pushed a [PR](https://github.com/maorfr/helm-plugin-utils/pull/3) to fix it

[2020-01-22 16:26] #11 closed

[2020-01-23 18:19] hickert33 commented on #97
I am seeing the same error, tiller is in the kube-system namespace using secrets to hold v2 configuration.

$ helm3 2to3 convert microservice --dry-run
2020/01/23 12:06:07 NOTE: This is in dry-run mode, the following actions will not be executed.
2020/01/23 12:06:07 Run without --dry-run to take the actions described below:
2020/01/23 12:06:07
2020/01/23 12:06:07 Release "microservice" will be con

[2020-01-24 09:11] hickeyma commented on #97
@hickert33 This has same symptoms but is a different issue. Do you mind raising a new issue to better track this?

[2020-01-24 09:45] rimusz commented on #97
@hickert33 you are missing flag `--release-storage secrets`

[2020-01-24 10:27] hickeyma commented on #97
@rimusz The `--release-storage` flag is only used when the plugin is connecting to an out of cluster Tiller. Otherwise, it picks up the storage backend from Tiller in the cluster.

I think it is worth opening the new issue to at least track @hickert33 issue.

[2020-01-24 11:26] rimusz commented on #97
then yes we need a new issue

[2020-01-27 14:32] hickert33 opened #112 "Error converting releases when Helm v2 secret storage backend set using "args" field of the container spec"
KUBE:
Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}

HELM
helm version
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

Ti

[2020-01-27 14:37] hickert33 commented on #97
Thanks! I created #112

[2020-01-27 14:46] hickeyma commented on #112
@hickert33 What is the output of the command: `kubectl get secret -n kube-system -l "OWNER=TILLER"`?

[2020-01-27 15:22] hickert33 commented on #112
@hickeyma

 helm 2to3 convert --dry-run metrics-server
2020/01/27 09:19:26 NOTE: This is in dry-run mode, the following actions will not be executed.
2020/01/27 09:19:26 Run without --dry-run to take the actions described below:
2020/01/27 09:19:26
2020/01/27 09:19:26 Release "metrics-server" will be converted from Helm v2 to Helm v3.
2020/01/27 09:19:26 [Helm 3] Release "metrics-server" will be c

[2020-01-27 15:29] hickeyma commented on #112
ok, can you show helm 2 `list` command with command and output shown?

[2020-01-27 15:31] hickert33 commented on #112
$ helm list --tls
NAME                            REVISION        UPDATED                         STATUS          CHART                                                   APP VERSION                             NAMESPACE
metrics-server                  1               Mon Jan  6 11:26:41 2020        DEPLOYED        metrics-server-2.8.8                                    0.3.5

[2020-01-28 01:47] emirot opened #113 "[question] Downtime migrating from helm 2 to helm 3 ?"
Hi there,

I would like to use from helm2 to helm3, I'm wondering if it will create any downtime when migrating the chart over helm3.
Is it intended to be transparent for external users ?
If the question is relevant it would be great to add it the doc or faq.

[2020-01-28 09:20] rimusz commented on #113
there is no downtime as only chart’s release data gets migrated

[2020-01-28 10:19] hickeyma commented on #113
@emirot The plugin is a tool to perform in-situ migration for Helm v2 to v3. Migration is described in the [Helm migration doc](https://helm.sh/docs/topics/v2_v3_migration/).

Let me know if this answers your question.

[2020-02-03 09:53] hickeyma opened #114 "doc: Add details on how to install the plugin on Windows"
Add details to README that WSL is needed. Refer to #55 for background.

[2020-02-04 11:17] hickeyma commented on #106
@edvald Seems some weird behaviour depending on how running.

I think regardless it would be good to have this functionality. Setting as a feature that I will work on.

[2020-02-07 22:19] justinturpin commented on #112
So I am having this issue as well and am actively trying to debug it - it looks like the storage thinks it's "configmaps" when it should be "secrets".  I have filed this issue with the helm-plugin-utils repo here: https://github.com/maorfr/helm-plugin-utils . It seems like an easy enough fix and I tested it locally and it seems to work.

[2020-02-10 20:46] hickert33 commented on #112
I have upgraded without converting so this is a non-issue for me now, but can leave open until @justinturpin gets his fix merged...

[2020-02-11 01:52] emirot opened #115 "Helm2 release was not deleted"
Hey there,

It looks like the helm2 release was not deleted.
How can I know if it can be safely deleted ?

[code]

[2020-02-11 10:24] hickeyma commented on #113
@emirot Did it help answer your question in https://github.com/helm/helm-2to3/issues/113#issuecomment-579175612?

[2020-02-11 10:30] hickeyma commented on #115
@emirot It looks like you have more than 10 release versions to be converted/deleted for release `kube2iam`. By default, the plugin handles 10 max versions. You can change this with the flag `--release-versions-max`.

FYI, the command outputs the following help message:

`NOTE: The max release versions "10" is less than the actual release versions "59".
2020/02/10 17:48:32 This means only "10" of

[2020-02-11 17:06] emirot commented on #113
@hickeyma Yes thank you !!
I'm using it.

[2020-02-11 17:13] hickeyma commented on #113
Ok, closing as question answered.

[2020-02-11 17:13] #113 closed

[2020-02-11 17:39] emirot commented on #115
Ok I think I got it, sorry it was not super clear for me. The not visible part I thought that `helm list` wouldn't show anything but I would still be able to see the not migrated ones using `kubectl`
Doing  using `--release-versions-max` with a number > my number of releases solves the problem.
Thanks for your help @hickeyma

[2020-02-11 17:47] hickeyma commented on #115
Great that its working for you @emirot.

Closing as answered.

[2020-02-11 17:47] #115 closed

[2020-02-12 13:41] sppwf commented on #112
Hi Guys,

When do you think this will be implemented?
Even I use "--release-storage secrets" i still get same error

Thanks
Ser

[2020-02-14 15:27] suciuandrei94 commented on #97
Hello guys, I've altered an existing GO library to migrate secrets to configmap so this problem with migration doesn't happen anymore.

[here](https://github.com/suciuandrei94/tiller-releases-converter)

[2020-02-14 15:29] suciuandrei94 commented on #112
Hello guys, I've altered an existing GO library to migrate secrets to configmap so this problem with migration doesn't happen anymore.

[here](https://github.com/suciuandrei94/tiller-releases-converter)

[2020-02-14 16:30] #106 closed

[2020-02-14 18:38] dragonsmith commented on #112
I've merged the PR.

Here are the binaries:
1. (Old libs v1.10) https://github.com/dragonsmith/tiller-releases-converter/releases/tag/0.1.3
2. (New libs v1.17) https://github.com/dragonsmith/tiller-releases-converter/releases/tag/0.1.4

[2020-02-17 07:03] hickeyma commented on #106
@edvald #116 now merged, adding the functionality

[2020-02-17 14:49] yannicksiewe opened #119 "convert --release-versions-max doesn't work as expected"
Output of `helm version`: **v3.1.0**

Output of `kubectl version`: **v1.11.0**

Cloud Provider/Platform (AKS, GKE, Minikube etc.): **openshift 3.11**

Use case: migrate from helm 2.14 to 3.1
helm2 2to3 convert RELEASE -t xxx --release-versions-max xx (the specified maximum value is ignored, so all releases are converted)

[2020-02-17 16:07] hickeyma commented on #112
@hickert33 @justinturpin Thanks for finding and working on this issue. Sorry for the delay in responding.

I have been trying to reproduce this issue but cannot seem to make it happen. Here is my some idea of my set-up:

[code]

Can you provide more details on where the issue is?

[2020-02-17 16:11] hickeyma commented on #119
@yannicksiewe Can you provide details on what is the issue you are having?

[2020-02-17 17:00] #114 closed

[2020-02-17 17:10] yannicksiewe commented on #119
when use ** --release-versions-max xx** with a value for example (helm2 2to3 convert RELEASE -t xxx --release-versions-max 2 ) I must have 2 converted versions out of 5 for example, but I get 5 converted versions instead of 2

[2020-02-17 17:21] hickeyma commented on #119
I am unable to reproduce this. It might be worth first making sure that you are using the latest version of the plugin as a bug was fixed in a previous release.

Also, check the versions of a release that are stored in the cluster by Helm 2. You can use the following command to do this:
`kubectl get configmap/secret -n <tiller-namespace> -l "OWNER=TILLER"`

There might be less release version stor

[2020-02-17 17:48] yannicksiewe commented on #119
plugin 2to3=v0.3.0
Already check everything
- when run **helm2 2to3 convert xxxx -t xxxx --release-versions-max 5 --dry-run**  it printout what expected
- This **helm2 2to3 convert xxxx -t xxxx --release-versions-max 5 ** does not give the expected result
**exemple:**
2020/02/17 18:39:46 NOTE: The max release versions "5" is less than the actual release versions "11".
2020/02/17 18:39:46 This mean

[2020-02-19 13:21] hickeyma commented on #119
@yannicksiewe Thanks for the feedback.

Investigating it further, I still am unable to reproduce it. My testing as follows (helm2 and helm3 are aliases for the Helm versions):

[code]

If you could troubleshoot your set-up some more, you might be able to provide more details that would help shed more light on the issue.

[2020-02-19 13:22] hickeyma commented on #119
BTW, how are you testing that you have 11 versions?

[2020-02-19 22:06] justinturpin commented on #112
In some installations of Helm, the Tiller command that sets the storage to use secrets is in the "args" field of the container spec, not the command field. This caused the helm-plugin-utils library to think that the Tiller storage was configmaps, causing helm2to3 to look in configmaps and then fail when none could be found.

This PR https://github.com/maorfr/helm-plugin-utils/pull/11 fixes it and

[2020-02-20 07:47] hickeyma commented on #112
This is interesting @justinturpin. I was unaware of people setting it using the `args` field.
I saw the fix in the utils project, thanks for that.

To finish the fix on this issue, do you mind pushing a PR to:
- Update https://github.com/helm/helm-2to3/blob/master/go.mod#L8 to use the latest release
- "0.3.0" --> "0.3.1" in https://github.com/helm/helm-2to3/blob/master/plugin.yaml#L2

[2020-02-20 08:06] hickeyma commented on #97
@suciuandrei94 This is not related to issue, thanks.

[2020-02-20 08:10] hickeyma commented on #112
@hickert33 @justinturpin I have updated the titler and description to better describe the problem. Thanks for finding and working on this issue.

[2020-02-20 08:15] hickeyma commented on #112
@sppwf This flag is only to be used when Tiller is not running in the cluster. When not running in the cluster, it is not possible to know which backend Tiller is using.

[2020-02-24 00:26] yannicksiewe commented on #119
With **kubectl get secret -n xxxxx**

[2020-02-24 22:18] bitsofinfo opened #122 "support cleanup targeting one specific release"
support cleanup targeting one specific release, right now it appears its all or nothing?

[2020-02-24 23:10] bitsofinfo opened #123 "after migrating charts, attempting to upgrade gets: spec.clusterIP: Invalid value: "": field is immutable"
I have a helm2 chart that has a live release running fine.

The chart does not define `clusterIP` anywhere.

I convert the chart to helm3 w/ this plugin

I then do an upgrade on that chart via helm3 and and run into this error `spec.clusterIP: Invalid value: "": field is immutable`

referenced here: https://github.com/helm/helm/issues/6378

[2020-02-24 23:59] bitsofinfo commented on #123
Just a note, I don't think this is related to this plugin, its just some odd behavior difference between helm2 and helm3 in regards to the implementation of force I guess? https://github.com/helm/helm/issues/7082

[2020-02-25 00:10] bacongobbler commented on #123
Yeah, this is unrelated to the plugin. There's nothing actionable here on the plugin's end. Let's continue the conversation in helm/helm#7082. Thanks!

[2020-02-25 00:10] #123 closed

[2020-02-25 08:03] hickeyma commented on #122
@bitsofinfo There is capability like this which is current available with the `--delete-v2-releases` flag of the `convert` command.

The idea of the `cleanup ` command is to do a full cleanup of Helm v2. What is the use case where you only want to cleanup some of the releases?

[2020-02-25 12:07] gau1991 commented on #112
Hi @hickeyma ,

We are also facing same issue into our environment, so I have created PR: #124 . Can you please review it and merge it?

[2020-02-25 12:30] hickeyma commented on #119
@yannicksiewe Can you run the following command and show we the output: `kubectl get secret -n <namespace> -l "owner=helm"`?

I am trying to better troubleshoot your issue but have been unable to reproduce it so far.

[2020-02-25 13:40] #112 closed

[2020-02-25 13:43] hickeyma commented on #112
Thanks @justinturpin and @gau1991 for the work on adding the fix for this. It is great to find edge cases like this.

[2020-02-25 13:47] rimusz commented on #122
I think it makes sense to support cleanup for the specific release  as well.
One of use cases you have many releases but want gradually one convert them to v3.
And of course you convert one, test it with helm v3, then do the clean up.

[2020-02-25 15:09] bitsofinfo commented on #122
@hickeyma ok, i wasn't aware of that feature, it could sort of work, however my use-case is to

a) convert X of Y total releases, one by one verify
b) clean each release up one by one. (not all or nothing)
c) we have some releases that will still need to be v2 for a while, but others that I can target for v3 sooner.

I just think it would provide overall more flexibility for migrations, and having

[2020-02-26 08:43] hickeyma commented on #122
@bitsofinfo I understand having this capability adds flexibility for the user. I am just a bit reluctant as the plugin was envisaged to be used to do an in-situ migration asap.

The reason I am interested in your use case is that I wanted to understand how you are using the plugin. In the [Helm migration doc](https://helm.sh/docs/topics/v2_v3_migration/), there are 2 use cases shown:
- Strangler p

[2020-02-26 13:37] sylvainmouquet opened #125 "Error migration : spec.clusterIP: Invalid value: "": field is immutable"
Hello,

I have this error : https://github.com/helm/helm/issues/6378
In the release of helm2 there is the clusterIp is hard code and when we try to deploy with helm3 we have the error.

[2020-02-26 14:38] hickeyma commented on #125
Duplicate of #123

[2020-02-26 14:38] hickeyma commented on #125
Closing as it is a duplicate issue.

[2020-02-26 14:38] #125 closed

[2020-02-26 14:55] hickeyma opened #126 "Migrate SQL storage backend releases"
Helm v2 can be configured to to use [SQL storage backend](https://v2.helm.sh/docs/using_helm/#sql-storage-backend)

Add feature to plugin with Helm v2 and v3 SQL storage backend:
- Convert releases from Helm v2 to v3
- Cleanup Helm v2 releases

[2020-02-26 15:00] hickeyma commented on #126
@emaincourt  @elafarge including you on this issue, as the plugin could use an util to provide Helm v2 releases from SQL storage backend. This is analogous to what the [helm-plugin-utils](https://github.com/maorfr/helm-plugin-utils) provides for secret and configmap storage backends.

[2020-02-26 15:56] bitsofinfo commented on #122
don't know, to me it seems pretty clear and a legitimate use-case. Yeah the onus is on the operator, however if I validate that the releases I successfully converted to v3, tested and accepted are good to go, there should be not need to force me to retain v2 references to them, because I can't cleanup them up in a targeted manner AFTER the `convert` command and my validation.

In all reality, all

[2020-02-26 18:43] hickeyma commented on #122
I agree adding the capability is good and provides flexibility to the user. The issue is labeled as an enhancement to be added.

I am just a little wary about mixing 2 migration types/use-cases.  Mixing both migrating and maintaining releases might lead to issues rather than strangling or migrating fully in-situ. As you say that is the responsibility of the operator.

[2020-03-02 10:33] hickeyma commented on #119
@yannicksiewe Do you have any update on this issue?

[2020-03-02 15:06] marckhouzam opened #128 "Cannot pass --kube-context to plugin"
When doing
[code]
the `kube-context` seems to be ignored.
I looked a bit into the code and here is my impression of what is happening.

The `--kube-context` flag is being swallowed by helm and never reaches the plugin.  This is expected behaviour for helm global flags (see https://helm.sh/docs/topics/plugins/#a-note-on-flag-parsing).

I think the plugin should instead read the `HELM_KUBECONTEXT` v

[2020-03-02 15:32] hickeyma commented on #128
Thanks for catching this @marckhouzam. I tested using the binary only and not as a plugin as well.

I found the doc reference above as well. Its unfortunate that the plugin framework is consuming these flags in this way.

I am not sure that I am a fan of the env variables as a solution. I wonder if using different flag names would be a better solution?

[2020-03-02 22:47] marckhouzam commented on #128
The current helm plugin solution gives you both possibilities.  By switching the 2to3 plugin code to read the context from $HELM_KUBECONTEXT it will support both ways of specifying a context, from the variable, but more importantly from the flag:
[code]

[2020-03-06 11:07] #128 closed

[2020-03-06 11:17] hickeyma commented on #119
@yannicksiewe I am going to close this issue as I have been unable to reproduce it. If you find how to reproduce this then we can re-open the issue.

[2020-03-06 11:17] #119 closed

[2020-03-06 11:39] hickeyma commented on #128
Fixed with PR #129

[2020-03-06 18:39] RudyBone opened #130 "helm plugin install plugin.yaml metadata missing error"
I downloaded the helm-2to3_0.3.1_linux_amd64.tar.gz and unzipped.  When went to install the plugin using helm 3:

helm plugin install

Error: plugin metadata (plugin.yaml) missing

[2020-03-10 11:56] hickeyma commented on #130
@RudyBone I found an issue with the latest release as follows:

[code]

[2020-03-10 12:05] rimusz commented on #130
@hickeyma we never had `scripts/install_plugin.sh` in the release bundles

[2020-03-10 12:06] rimusz commented on #130
let me do a PR to fix it

[2020-03-10 12:13] rimusz commented on #130
fix in the #131

[2020-03-10 14:12] RudyBone commented on #130
So can I re-download the helm-2to3_0.3.1_linux_amd64.tar.gz file now and it will have the fix in it?

[2020-03-10 14:17] rimusz commented on #130
it wasn't released yet

[2020-03-10 16:47] #130 closed

[2020-03-10 16:55] rimusz commented on #130
@RudyBone please download the latest plugin version 0.4.1, which has the fix.

[2020-03-10 17:44] hickeyma commented on #122
@bitsofinfo Pushed PR #132 for this functionality. Can you give it a try and see how it works for you?

[2020-03-10 17:47] bitsofinfo commented on #122
awesome! thanks. Handing off to @boarder981 to test this, they're working w/ me on this

[2020-03-10 19:58] boarder981 commented on #122
Is there a new version of the plugin that I can install with `helm plugin install...`?  How do I test this otherwise?

[2020-03-11 09:06] hickeyma commented on #122
@boarder981 You can clone the repo, get the PR fix and build that.

[code]

[2020-03-11 20:49] boarder981 commented on #122
I did what you posted above and installed the plugin manually.  This is what I see when I list plugins:

    $ helm3 plugin list
    NAME	VERSION	DESCRIPTION
    2to3	0.5.0  	migrate and cleanup Helm v2 configuration and releases in-place to Helm v3

And just to confirm that I see the new -n option:

    $ helm3 2to3 cleanup --help
    cleanup Helm v2 configuration, release data and Tiller deploym

[2020-03-11 20:57] boarder981 commented on #122
I forgot to mention that when I did the cleanup for real (the one I posted above was dry run), it did purge the release data from helm2.  I still see it in helm3.

Also one other suggestion.  When you perform a dry run, this warning appears:

    WARNING: "Release Data" will be removed.

Can you make it print the release name please?  That way there is more certainty of what exactly will be delete

[2020-03-12 10:09] hickeyma commented on #122
@boarder981 Thanks for testing and the great feedback. @marckhouzam got in first about `-n`  short key. Will probably just remove it and stay with `--name` flag.

Good suggestion about the warning message. Will take on board.

[2020-03-13 13:24] #122 closed

[2020-03-13 13:24] hickeyma commented on #122
PR #132 merged.

[2020-03-13 14:15] MaksymDolgykh opened #133 "Unable to install helm-2to3 plugin v0.5.0"
Looks like a new [version](https://github.com/helm/helm-2to3/commit/3f8f18ecd05f2875be89eb0fab673e1eb1f4abbb) was released recently and looks like the build is broken.
When I try install it I get following error
[code]

[2020-03-13 14:25] rimusz commented on #133
sorry for the delay it got released https://github.com/helm/helm-2to3/releases/tag/v0.5.0

[2020-03-13 14:25] #133 closed

[2020-03-13 14:26] tgunsch opened #134 "plugin fails to install: wrong version in plugin.yaml"
installing the plugin fails:

[code]

The problem seems to be the version number 0.5.0 in `~/.local/share/helm/plugins/helm-2to3/plugin.yaml` which is not yet released. Unfortunately this occurs during build of the build-agent-image, so I can't manually edit `~/.local/share/helm/plugins/helm-2to3/plugin.yaml`

[2020-03-13 14:29] hickeyma commented on #134
@tgunsch Sorry about that but the 0.5.0had not been built yet. It is now built, thanks to @rimusz.

Can you try it again and see if it works?

[2020-03-13 14:33] hickeyma commented on #133
Thanks for building the release @rimusz 👏

[2020-03-13 15:56] tgunsch commented on #134
Yes it works :+1:

Thx very much, I close the issue.

[2020-03-13 15:56] #134 closed

[2020-03-17 08:24] abhi-dwivedi opened #135 "After migrate chart 2 to 3 how can cleanup the single chart not all"
After migrate chart 2 to 3 how can cleanup the single chart not all

[2020-03-17 09:07] rimusz commented on #135
here we go:
`helm 2to3 cleanup --name v2_release_name'

`--name string              the release name. When it is specified, the named release and its versions will be removed only. Should not be used with other cleanup operations`

[2020-03-17 12:12] itninja-hue opened #136 "RELEASE_NAME has no deployed releases"
what I am doing:
[code]
Tiller deployment Labels:
[code]
Helm Versions:
[code]
Expected behavior:
successfully migrate.

Questions:
1- What am i messing ?
2- How can i increase verbosity so i can debug, "other than --debug which just reprints  the error msg with just a debug keyword upfront "

[2020-03-17 15:50] itninja-hue commented on #136
So the way my helm was set it saves all release secrets in a different namespace than the actual release, to be specific it saves release secrets in kube-system and releases on dev-microservice-notification;
I got mislead  by the following:
[code]
As mentioned in the issue description i thought that it is mainly looking for tiller POD, and it will figure out itself where secrets are stored, just l

[2020-03-17 15:50] #136 closed

[2020-03-18 08:08] hickeyma commented on #135
@abhi-dwivedi The command shown by @rimusz in https://github.com/helm/helm-2to3/issues/135#issuecomment-599958599 will remove the Helm release data from Helm v2. Does this answer your question?

[2020-03-18 08:22] abhi-dwivedi commented on #135
yes thanks

On Wed, Mar 18, 2020 at 1:39 PM Martin Hickey <notifications@github.com>
wrote:

--
Abhinav Dwivedi
07827196467

[2020-03-18 09:20] hickeyma commented on #136
@itninja-hue I think your issue was that you set `--tiller-ns "dev-microservice-notification"`.  The flag `--tiller-ns` is to specify the namespace of the Tiller instance and not to be the namespace of the release.  In Helm v2, all release data is stored in the namespace of Tiller instance. By default, that namespace is `kube-system`. When converting, the plugin will get the namespace of the relea

[2020-03-18 09:36] itninja-hue commented on #136
@hickeyma In my case i deploy tiller pods per namespace (restricted to deploying resources only in that namespace), and it saves all releases configurations in another namespace ("kube-system"), so  i used --tiller-ns as mentioned in docs to specify the namespace of the tiller pod, but what happened is, that 2to3 plugin supposed that i keep release secrets in the same namespace, thats why it trigg

[2020-03-18 10:11] hickeyma commented on #135
Closing as question answered.

[2020-03-18 10:11] #135 closed

[2020-03-19 11:31] hickeyma commented on #136
@itninja-hue Thanks for the explanation of your set-up. It sounds like a customised Helm set-up! :)

[2020-03-20 13:14] 7tabish opened #138 "helm3 2to3 convert <RELEASE NAME> says invalid configuration: no configuration has been provided"

[2020-03-23 07:08] hickeyma commented on #138
@7tabish Can you provide more details about this issue in the description?

[2020-03-24 12:39] 7tabish commented on #138
i run the command

it runs accurate and no error occurs but when i try to run the command

it says no configuration file found.

[2020-03-24 12:57] hickeyma commented on #138
@7tabish Can you show the actual command and output? It is hard to tell otherwise. Also, on the terminal that you are running the `convert` command, can you run any Helm 2 commands like `helm version` and `helm ls`? It would be good to show these outputs as well.

[2020-03-24 20:40] hickeyma opened #139 "helm test does run on converted release"
When a Helm v2 chart is deployed with a test template, the v2 release will contains details of the test and its subsequent hooks. When the release is converted using the plugin, the `helm test` command no longer runs the test as expected. Instead it just outputs details of the release without an error.

Test by:
- Create a scaffold chart (`helm create`) using Helm 2
- Install the chart using Helm

[2020-03-26 15:49] #139 closed

[2020-03-30 08:36] hickeyma commented on #138
Ping @7tabish ^^

[2020-03-30 08:40] hickeyma opened #141 "Add support for helm plugin update"
Currently when you want to update the plugin version, you need to remove and then install. It would be nice to be able to just do a `helm plugin update`.

Thanks for finding @morstad

[2020-03-30 08:41] hickeyma commented on #141
This requires adding the `update` hook to the plugin and adding a new script to adding the changes to the installm script where needed.

[2020-03-30 09:06] rimusz commented on #141
hmm, I can upgrade the plugin with the current version and install script:
[code]

[code]

[code]

[2020-03-30 09:42] hickeyma commented on #141
Sorry, my bad. I had an issue in my environment.

[2020-03-30 09:42] hickeyma commented on #141
Closing as working as expected.

[2020-03-30 09:43] #141 closed

[2020-03-30 12:50] BoOgatti opened #142 "error when reading response body"
Hi, I am trying to convert my releases from v2 to v3 and one of them I get an error:
[code]

I suspect one of the problem it's size of my deployment (it has a really big configmap) which entails a connection timeout. How can I to diagnose this issue, because I can't see any flags like `debug` or `timeout`? Can I convert it manually?

_Helm v3.1.2
Plugin v0.5.0_

[2020-03-30 14:43] hickeyma commented on #142
@BoOgatti Thanks for raising this. A few things to better understand the problem:

- Can you show the output of the following command: `kubectl get configmap -n <tiller_namespace> -l "OWNER=TILLER" | grep "foo-bar"`?
- Do you have timeout issues when you run this command: `helm2 get foo-bar` ?

FYI, if Tiller is running in the cluster, then the `convert` command would be as follows: `helm3 2to3 co

[2020-03-30 16:39] BoOgatti commented on #142
Yeah, sure
[code]
[code]
helm2 operations can consume up to 20 seconds (it looks like hanging for some time) but always completed

[2020-03-30 17:19] hickeyma commented on #142
It would seem a lot of data is being returned (possibly 101 ConfigMaps i.e. release versions) and this could be stressing the API call to the cluster. The plugin retrieves the release data using the k8s API directly and not via Helm v2.

How many release versions do you have for `foo-bar`. Do you need all of them or could you cull some/most of them?

[2020-03-31 08:18] BoOgatti commented on #142
Yay! Made some cleanup and it works, looks like overloaded API. Thx @hickeyma

[2020-03-31 08:18] #142 closed

[2020-04-01 14:08] vsaibinaysoma opened #143 "Issue with using helm2-3 plugin"
Hi Currently i have used the helm 2 to 3 plugin to move and migrate from helm v2 to helm v3. But after the migration i am not running helm v2 and v3 in conjunction. I moved helm v3 into /usr/local/bin/>> path and then the deleted the old helm folder. I am able to run commands as expected with helm. All the files and workloads seems to be working fine, the workloads that were running version 2. How

[2020-04-01 14:28] rimusz commented on #143
Ok I did some testing with helm v3 cli:
[code]

So you are missing `helm repo update` command

[2020-04-01 14:40] vsaibinaysoma commented on #143
We are running helm repo update in with the pipeline. Repo update happens as a pre requisite before helm fetch.

[root@dop-salt01 helmchartdeploy]# salt -t 680 "devminion*" state.sls helmchartdeploy  pillar="{'jbname':"artifactory",'version':"6.12.2-rc-0", 'buildenv':"release", 'deployenv': "dev" }"
[DEBUG   ] Configuration file path: /etc/salt/master
[WARNING ] Insecure logging configuration dete

[2020-04-01 14:40] vsaibinaysoma commented on #143
We are getting repo not found.

[2020-04-01 15:00] rimusz commented on #143
not sure what's the issue, but it is not related to the `2to3` plugin

[2020-04-02 23:51] vsaibinaysoma commented on #143
I need more insights on this plugin. How can you prove it is not an issue with the plugin. I used this plugin and after i went ahead with migration to helm 3. My local repo was corrupted and i deleted it to avoid failures in my jenkins builds. Does the local repo get created by default with the helm client and configuration. How can i restore the local repo  or helm 3 can function without the loca

[2020-04-03 17:11] #143 closed

[2020-04-15 08:11] qianying-99 opened #144 "execute helm 2to3 cleanup , the resources are still existed"
the release can't listed from helm2 command, but the resources are still existed in the k8s cluster.
So the clean up  command did't delete helm releases , just clean up the releases infomation from tiller

[2020-04-15 09:18] hickeyma commented on #144
@qianying-99 Need to ask you some questions to try and understand the issue better.

Are you saying that when you run the cleanup, the release information for Helm v2 (e.g. ` kubectl get configmap -n kube-system -l "OWNER=TILLER"`) is gone and `helm2 ls` returns no release information? However, you still see the Kubernetes objects in the cluster for that release?

[2020-04-20 07:13] qianying-99 commented on #144
Yes, `kubectl get pod -n <namespace>` , everything is also existed

[2020-04-20 07:13] qianying-99 commented on #144
Yes, kubectl get pod -n <namespace> , everything is also existed

[2020-04-20 09:58] hickeyma commented on #144
@qianying-99 Then it is working as expected.

When you run the `convert` command its goal is to create release metadata ONLY for Helm v3 for a release which was deployed using Helm v2. It creates this release metadata but does not touch the Kubernetes resources which were deployed by the chart in Helm v2. When you do the `convert` it  is for Helm v3 to manage this release and the deployed resource

[2020-04-21 19:42] Shobhit29 commented on #138
[code]

[code]

[2020-04-21 21:35] hickeyma commented on #138
@Shobhit29 Does it work for any of the other releases?

[2020-04-22 10:28] hickeyma commented on #144
Does this answer your question @qianying-99?

[2020-04-23 04:46] qianying-99 commented on #144
Yes, but if i don't need these releases , i have to clean up manually.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Martin Hickey"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月22日(星期三) 晚上6:28
收件人:&nbsp;"helm/helm-2to3"<helm-2to3@noreply.github.com&gt;;
抄送:&nbsp;"Aurora"<2654733670@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [helm/helm-2to3] execute helm

[2020-04-23 07:32] hickeyma commented on #144
@qianying-99 I am not exactly sure what you are trying to do.

I will try by explaining as follows. Hope it helps answers. your question.

If you don't need a Helm v2 releases anymore then just delete it from Helm v2 using `helm delete --purge` command. This will however remove the deployed resources in the cluster etc.

If you want to convert over a Helm v2 release to Helm v3 but want to verify a

[2020-04-27 20:10] ghoben opened #145 "helm3 list does not show my successfully converted release"
I tried to convert a helm2 release to helm3 with first moving the config. Which worked. After that I tried helm3 2to3 convert <release-name>,which exited properly.

[code]

When I issue `helm3 list` though I don't see anything. I still see it in `helm list my-kubernetes-dashboard`.

When i issue the convert command again, it tells me, that it already exists:

[code]

Any ideas what might be wrong?

[2020-04-27 20:39] hickeyma commented on #145
@ghoben Can you see it is you run `helm3 list --all-namespaces`?

[2020-04-27 20:53] ghoben commented on #145
Thanks, this was the missing puzzle. I was not aware that helm3 is sensitive to namespaces now in the list command. Thanks @hickeyma

[2020-04-28 09:10] hickeyma commented on #145
Yes. Now that Tiller is no longer in Helm, it can save the release metadata in the release namespace.

For more details, check out the [Helm docs](https://helm.sh/docs/) and a [Helm 3 blog](https://developer.ibm.com/technologies/containers/blogs/kubernetes-helm-3/) I did after Helm 3 release.

[2020-04-28 09:10] hickeyma commented on #145
Closing as issue is answered.

[2020-04-28 09:10] #145 closed

[2020-04-30 17:08] zx8 opened #146 "Allowing renaming release when using `helm 2to3 convert`"
Since Helm 2 doesn't provide a way to rename releases (without deleting/re-creating the release), we'd like to use the opportunity to tidy up and standardise some of our release names when we migrate to Helm 3.

It would be extremely helpful if `helm 2to3 convert` allowed us to specify an optional new name when converting.

[2020-04-30 19:36] gsexton opened #147 "Upgrade of Converted Releases Fails"
Using Helm 3.2.0 and the 0.51 version of the 2to3 converter, I converted some releases from helm 2 to helm 3.

Now, when I try to upgrade those releases using helm upgrade ... I get the error message:
[code]
So it looks like the upgrade is failing because helm 3 expects some annotations to be present that the converter isn't creating. Is that a good analysis?

Is there any way to get the converter

[2020-04-30 20:42] hickeyma commented on #138
Ping @Shobhit29 @7tabish ^^

[2020-04-30 20:42] hickeyma commented on #144
@qianying-99 Did this answer your question?

[2020-05-01 16:38] hickeyma commented on #147
@gsexton Thanks for raising the issue.

To help me reproduce this issue would you have a chart that was used to create the last version of the release in Helm v2? This will help me to troubleshoot and identify the issue.

[2020-05-02 11:02] rimusz commented on #147
@gsexton can you try to install that chart with helm v3 and then do the upgrade?

[2020-05-08 19:56] gsexton commented on #147
@rimusz The base chart version won't install using helm 3. I'm getting errors

Error: UPGRADE FAILED: rendered manifests contain a resource that already
exists. Unable to continue with update: PodSecurityPolicy "common-services-grafana"
in namespace "" exists and cannot be imported into the current release: invalid
ownership metadata; label validation error: missing key "app.kubernetes.io/managed-

[2020-05-08 20:05] gsexton commented on #147
@hickeyma Thanks for your response. I apologize for the delay in coming back to this.

I tried creating a simple test case, and it works as expected. Here's some additional information. I dumped the PodSecurityPolicy that's erroring out during the upgrade. Here's the version of the original chart AFTER upgrade to Helm 3:

[code]
Here's what it looked like on another cluster where it was installed

[2020-05-11 06:52] hickeyma commented on #138
Going to close this issue due to a lack of feedback. We can re-open if more details provided.

[2020-05-11 06:52] #138 closed

[2020-05-11 06:52] hickeyma commented on #144
Going to close this issue due to a lack of feedback. We can re-open if more details provided.

[2020-05-11 06:52] #144 closed

[2020-05-19 06:18] nemoo opened #148 "how to install from downloaded binaries"
This is not a defect, but a usage question:

I am trying to install the 2to3 plugin in a linux docker image via the downloaded https://github.com/helm/helm-2to3/releases/download/v0.5.1/helm-2to3_0.5.1_linux_amd64.tar.gz

When I untar the binary into a tmp directory and try the installation via `helm3 plugin install /tmp/helm-2to3`,  it still tries to download from github.

Is there a way to perfo

[2020-05-19 09:12] hickeyma commented on #148
@nemoo The `helm plugin install` command calls the [install plugin script](https://github.com/helm/helm-2to3/blob/master/scripts/install_plugin.sh) which downloads from the repo.

If you want to avoid this you can just copy the extracted plugin directory from the tarball to ${HOME}/.local/share/helm/plugins/. It should then show when you run `helm plugin list`.

[2020-05-19 09:42] kiyutink commented on #147
We're encountering the same issue with a release of nginx-ingress. We tried to manually change missing labels / annotations, but encountered the following problem:
[code]

I'm quite new to helm and k8s in general, would be grateful if someone could decypher it for me

[2020-05-19 12:17] nemoo commented on #148
thanks a lot for the hint!

I untared the content of the tar file into a folder ${HOME}/.local/share/helm/plugins/2to3
[code]

That results in helm displaying it as a plugin:

[code]

Yet, when I try to use it, I get this error:

[code]
Any idea what I am still doing wrong?

[2020-05-19 13:39] gsexton commented on #147
@kiyutink We ran into something similar. In our case, there was a StatefulSet that didn't have a selector defined at the template. Kubernetes/Helm supplied a default selector that matched all labels. In our case, what I did was write a little script to patch the set of selector labels to be the release and namespace. I then set the StatefulSet's template selector to match. Once I did that, I could

[2020-05-19 13:59] prashantkalkar opened #149 "Migrate some releases to helm3 leaving others to be managed by helm2"
Hi

I have lot of application services using helm charts to deploy into Kubernetes.
We are also using helm charts like Prometheus operator, EFK stack etc on our prod and non prod cluster.
We are currently using the helm2 version: `v2.14.3`

I know that helm2 and helm3 can manage the same cluster as long as the releases are different. And I can use that approach for all the stateless releases that

[2020-05-19 14:08] nemoo commented on #148
So the plugins.yaml expected the script under plugins/<pluginname>/bin/2to3. So I also copied it there. now it works.
Cheers!

[2020-05-19 14:08] #148 closed

[2020-05-19 14:28] hickeyma commented on #148
@nemoo That's correct, the binary needs to be in the `bin` sub-directory. Sorry but forgot to add that in my previous comment.

I'm glad that it is now working for you.

[2020-05-19 16:01] hickeyma commented on #149
@prashantkalkar This should be possible by converting on a release by release basis. In other words, running the command `helm 2to3 convert`  on a release as you require. You can then cleanup that release from Helm v2 when you are happy the conversion is successful by running `helm 2to3 cleanup --name <release_name>`. No Kubernetes resources associated with a release are removed during conversion

[2020-05-19 16:38] hickeyma commented on #147
There are a few things at play here and will try to answer them one by one.

[13016 84672 :020874: nftcx 05/08/2020 13:51:21 -0600 ERROR   ]
[code]

This looks like an issue whereby the chart template is using a removed Kubernetes API `monitoring.coreos.com/v1` for the Kubernetes version that it is been deployed on. It would seem that the API is being used for kind: `Alertmanager`, `Prometheus` an

[2020-05-19 17:06] hickeyma commented on #147
That should be ok as it it is dependent on the annotations defined in the chart. If specific annotations are now required in a Kubernetes version for a kind then the Helm v2 release should be upgraded first with the modified annotation before conversion.

This is probably the Kubernetes cluster and not Helm.

[code]

This diff signifies that `PodSecurityPolicy` should use the supported API `policy

[2020-05-19 17:13] hickeyma commented on #147
@gsexton @kiyutink I hope the above comments provide some feedback to your questions and issues.

To be able to identify an issue with the conversion and Helm upgrade, I would need to get a way to repeat the issues. On good way to do this would be to:
1. Get the chart which was the last install/upgrade of a v2 release
2. Do a `helm install` using Helm v3 and this chart into the cluster where the H

[2020-05-19 19:41] prashantkalkar commented on #149
Are you saying `helm 2to3 move config` is optional when migration is done release by release basic, allow to helm2 and helm3 releases co-exits?

The documentation does not clarify whether it might be optional. (Its possible that might have missed it).

[2020-05-20 09:08] hickeyma commented on #149
`helm 2to3 move config` copies Helm v2 configuration (plugins, repository list etc.) over to the new configuration set-up for Helm v3. I agree move was not a great verb to use.

The releases are separate to the configuration. `helm 2to3 convert` command does that:
https://github.com/helm/helm-2to3#readme-before-migration

Helm v2 and v3 can co-exist but need to be careful to handle not trying to m

[2020-05-20 09:49] hickeyma commented on #147
With regard to:
- meta.helm.sh/release-name: <RELEASE_NAME>
- meta.helm.sh/release-namespace: <RELEASE_NAMESPACE>

They can be used for adopting existing already created resources and are not mandatory in Helm templates (https://github.com/helm/helm/pull/7649).

[2020-05-22 09:19] hickeyma commented on #146
Thanks for requesting this functionality @zx8 .

However, I am not sure that this something we should do. My reasoning for this follows.

Some background to start:
- Most charts are designed to use the release name as part of Kubernetes resource creation.  This is to enable deployment using the same chart but with different release names.
- During migration, only release metadata is mapped and cre

[2020-05-22 16:37] prashantkalkar commented on #149
@hickeyma Thanks a lot.

You are right, I was concern due to the word move configuration from helm2 to helm3. But now I realised that it is mainly the config setup for the helm3 and does not change the cluster configuration.

I was able to migration some services following the steps you mentioned :
1. Backup the helm2 home directory and helm release config maps from the cluster.
2. Move (Copy) con

[2020-05-22 16:37] #149 closed

[2020-05-22 17:40] zx8 commented on #146
@hickeyma Thanks for the thoughtful response.

I understand this functionality isn't suitable for everyone, but – if I'm following you correctly – for us, I think the caveats you mentioned are all acceptable and will still allow us to clean up and standardise our (static) release names, which have become slightly unstandardised over time.

Reason being, our charts are all maintained internally and

[2020-05-23 15:10] zc-hemenfei commented on #45
Excuse me , How do you solve this situation? @hickeyma

[2020-05-23 15:18] rustycl0ck commented on #45
@zc-hemenfei This was fixed in [Helm v3-beta4](https://github.com/helm/helm/releases/tag/v3.0.0-beta.4). Thus, if you are using helm-v3.0.0 or later, you won't encounter this.

[2020-05-23 22:37] derekyle commented on #138
I'm getting the same issue. Using Windows. I get the same "invalid configuration: no configuration has been provided" error.

[code]

helm3 2to3 move config gives this response:

[code]

And then finally:

[code]

[2020-05-25 06:50] hickeyma commented on #146
If release name is not part of the deployed Kuberntes resources then you could if you want edit the v3 secret object(s) which are the metadata for each release version(s) changing the release name. **This is something we would NOT recommend and would be entirely at your own risk.**

[2020-05-25 07:18] hickeyma commented on #138
@derekyle Do you mind opening a new issue for this? I would like to track this separately as cannot be certain it is the same issue.

[2020-05-26 14:21] gsexton commented on #147
The issue here was actually CRDs. The reason the chart couldn't install with helm 2 is because they had been created in the CRDs directory.

[2020-05-26 14:21] #147 closed

[2020-05-26 14:32] hickeyma commented on #147
Ok, good to know @gsexton. It is very interesting to try and troubleshoot different users environment and build up an understanding of what happens. Thanks for sharing.

For reference, CRDs differ in execution in Helm 3: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

[2020-05-27 09:53] dza89 commented on #147
Anyone experiencing the original issue:

1. Upgrade helm itself to the latest version (3.2.1) and do not upgrade the helm chart itself.
2. Upgrade your helm chart with changes.

[2020-05-27 09:59] hickeyma commented on #147
@dza89 Do you mind raising a new issue and add the steps to reproduce? This will help better troubleshoot the issue.

[2020-05-27 12:04] hickeyma commented on #146
I hope this answers your questions @zx8. If so, let me know if this issue can be closed.

[2020-05-27 12:05] #146 closed

[2020-05-28 12:30] dza89 commented on #147
@hickeyma
If you want I'm fine with it, but this the exact the original issue.
The problem lies in changes in your helm chart and changes to helm version at the same time.

Helm should:
1. Apply new annotations
2. Make changes as defined in your helm chart

Helm is:
1. Trying to make changes in your helm chart
b. Breaking because it cannot validate the missing annotations.

[2020-05-28 12:43] hickeyma commented on #147
@dza89 It would be better raise a new issue and provide more details. I would need to know the steps using a chart as an example through the different steps when first deployed using v2, the migration of that release and then the upgrade in v3 and where/how it fails.

[2020-06-03 13:24] IdanAdar commented on #142
What cleanup did you do? I am hitting this as well.

[2020-06-03 15:18] BoOgatti commented on #142
@IdanAdar something like this:
[code]

[2020-06-03 16:07] hickeyma commented on #142
@IdanAdar Following on from @BoOgatti  above..

This command returns all release versions/revisions:
`kubectl get configmap\secret -l OWNER=TILLER,NAME=<release_name> --namespace
<tiller_namespace>`

For example:
[code]

You can then delete using `kubectl delete configmap\secret <release_version_name> --namespace <tiller_namespace>`

Note:
- Release revision/version start at `1` and go up in incre

[2020-06-04 16:54] pretzelmaker opened #150 "Local Developer Install"
When using the instructions provided for installing a locally built binary for use with helm v2, it continues to use the remote binaries.

[code]

[2020-06-05 08:43] hickeyma commented on #150
Thanks for raising this @pretzelmaker.

You are correct in observing that the `plugin install` will call the script
The [Developer Install](https://github.com/helm/helm-2to3#developer-from-source-install) section needs to be updated as follows:
- `make build` --> `make`
- Mention that you can run the binary directly as: `./bin/2to3`
- Or if want to run as plugin, copy the `helm-2to3` directory to

[2020-06-05 08:44] hickeyma commented on #150
@pretzelmaker Feel free to push a PR if you like.

[2020-06-05 09:04] #150 closed

[2020-06-05 09:07] hickeyma commented on #150
@pretzelmaker I just saw that you pushed PR #151. Thanks for this.  I think the fix you pushed covers the issue and no need for all the points I raised in https://github.com/helm/helm-2to3/issues/150#issuecomment-639344290.

[2020-06-05 14:09] pretzelmaker commented on #150
@hickeyma - Thanks for reviewing and accepting the PR

[2020-06-17 07:53] janotav opened #152 "Upgrade Helm v3 dependency"
There is currently **helm.sh/helm/v3 v3.1.0** dependency. This version of Helm is subject to following vulnerability: https://nvd.nist.gov/vuln/detail/CVE-2020-11013

Could you please either:
a) upgrade the dependency to 3.2.x that is not affected
b) confirm that 2to3 is not affected by the vulnerability

Thanks!

[2020-06-17 10:02] hickeyma commented on #152
@janotav Thanks for raising. The plugin is not affected by the vulnerability.

I think though you raise a good point and it should be updated to the latest version of the libs.

[2020-06-17 10:08] janotav commented on #152
@hickeyma thank you for the confirmation

The dependency upgrade actually cascades and it was my impression that https://github.com/maorfr/helm-plugin-utils currently does not support the new APIs.

Shall I close this or do you want to keep it open for the sake of the upgrade?

[2020-06-17 10:37] hickeyma commented on #152
It is ok as it is not affected either by the vulnerabilities.

Lets leave the issur open, as can use it for updating the libs. 👍

[2020-06-18 18:59] sandipchitale commented on #138
I am getting the same issue:

2020/06/18 11:57:00 NOTE: This is in dry-run mode, the following actions will not be executed.
2020/06/18 11:57:00 Run without --dry-run to take the actions described below:
2020/06/18 11:57:00
2020/06/18 11:57:00 Release "releasename" will be converted from Helm v2 to Helm v3.
2020/06/18 11:57:00 [Helm 3] Release "releasename" will be created.
2020/06/18 11:57:00 inv

[2020-06-18 19:01] sandipchitale opened #153 "helm3 2to3 convert <RELEASE NAME> says invalid configuration: no configuration has been provided"
Filing a separate issue as requested on a similar closed issue #138

2020/06/18 11:57:00 NOTE: This is in dry-run mode, the following actions will not be executed.
2020/06/18 11:57:00 Run without --dry-run to take the actions described below:
2020/06/18 11:57:00
2020/06/18 11:57:00 Release "releasename" will be converted from Helm v2 to Helm v3.
2020/06/18 11:57:00 [Helm 3] Release "releasename" w

[2020-06-19 18:37] hickeyma commented on #153
@sandipchitale Thanks for raising the issue.

On the terminal that you are running the `convert` command, can you run Helm 2 commands like `helm version` and `helm ls`? It would be good to show these outputs as well.

Are you able to convert any release?

[2020-06-24 15:33] Hashfyre commented on #147
I have the same issue trying to test out `stable/prometheus-operator` locally (testing a fork for a future PR, no code committed yet)
[code]
[code]
@hickeyma I can report this as a fresh issue if you want. Just putting it here for posterity.

[2020-06-24 15:50] hickeyma commented on #147
@Hashfyre A new issue with be great, thanks

[2020-06-30 18:22] AbhinayGupta741 commented on #147
Hello everyone,

I was facing exact same issue after updating the helm version from  2 to 3.
I was able to resolve this by purging the old helm deployment.
helm delete <name> --purge
Then I was able to upgrade the services with helm upgrade successfully.

I hope it helps someone!

[2020-07-01 08:50] hickeyma commented on #147
@AbhinayGupta741 This is a destructive approach whereby when you do a `helm delete --purge` on the Helm v2 release, it will remove it and all the Kubernetes resources associated. This then leave the Helm v3 release with Helm metadata only and no Kubernetes resources associated. The upgrade will work alright but would only recommend this as a last resource.

When you say you have the exact same iss

[2020-07-01 20:09] digeler commented on #153
try using elevated command prompt it helped me :
helm3 2to3 convert enricher --dry-run
2020/07/01 23:08:46 NOTE: This is in dry-run mode, the following actions will not be executed.
2020/07/01 23:08:46 Run without --dry-run to take the actions described below:
2020/07/01 23:08:46
2020/07/01 23:08:46 Release "enricher" will be converted from Helm v2 to Helm v3.
2020/07/01 23:08:46 [Helm 3] Release

[2020-07-07 08:28] hickeyma commented on #153
Ping @sandipchitale. Any update?

[2020-07-07 20:14] bobo333 commented on #153
I'm running into the same problem, but running on macosx. Note `helm` is `helm v2` and `helm3` is (obviously) `helm v3`

[code]

I tried explicitly passing the `kubeconfig` path thinking it may be related to the error message about invalid configuration, but got the same result

[code]

I can see the release exists in helm2:

[code]

And I can list other releases I made with helm3:

[code]

Versio

[2020-07-08 11:03] hickeyma commented on #153
@bobo333 I have been unfortunately unable to reproduce this issue. I am wondering if you could add some trace and build the binary and try and identify where this is happening. At the moment, I am unsure how and where the issue is.

[2020-07-08 18:15] bobo333 commented on #153
@hickeyma I figured out what the issue was - I had a (very) old version of the `2to3` plugin installed.

[code]

After running

[code]

It works!

[code]

Thanks for looking into it @hickeyma, I would assume @sandipchitale is having a similar problem and re-installing the plugin to a more recent version would fix the issue.

[2020-07-09 09:18] hickeyma commented on #153
Thanks for the feedback @bobo333. This is most helpful as I was stumped how to troubleshoot the issue.

FYI, you can update a Helm plugin without the need to remove as follows: `helm plugin update 2to3`

[2020-07-09 09:20] hickeyma commented on #153
@sandipchitale Going to close this issue following the information from @bobo333 in https://github.com/helm/helm-2to3/issues/153#issuecomment-655677220.

We can re-open if need be.

[2020-07-09 09:20] #153 closed

[2020-07-16 14:06] bcollard commented on #147
this helped me, with a broken upgrade process on the `prometheus-operator` helm chart, after migration with helm-2to3:

[code]

[2020-07-16 17:31] syednadeembe commented on #153
please re-open the issue.

I'm facing the same problem with [root@vmnxkubdvm01 mosy]# helm plugin list
NAME    VERSION DESCRIPTION
2to3    0.6.0   migrate and cleanup Helm v2 configuration and releases in-place to Helm v3

[2020-07-16 19:29] hickeyma commented on #153
@syednadeembe Have a look at https://github.com/helm/helm-2to3/issues/153#issuecomment-655677220 and see if that is the issue.

[2020-07-17 04:41] syednadeembe commented on #153
@hickeyma  im on the latest version

NAME VERSION DESCRIPTION
2to3 0.6.0 migrate and cleanup Helm v2 configuration and releases in-place to Helm v3

[2020-07-17 08:37] hickeyma commented on #153
@syednadeembe I suggest opening a new issue adding as much details in the description. Mention the OS you are running on.

Also, on the terminal that you are running the convert command, can you run Helm 2 commands like `helm version` and `helm ls?` Are you able to convert any release?

This would help to try and reproduce the issue. If you can, it might be worth building the binary with trace bak

[2020-07-18 12:56] syednadeembe commented on #153
Kool, let me do some more RCA and i will raise a new one, or perhaps a clone of this one.

[2020-07-19 15:08] abdennour commented on #147
thank you @bcollard ! same thing happen when trying to upgrade vault-operator

[2020-07-26 17:31] whitecolor opened #156 "Error upgrading release: invalid configuration: no configuration has been provided"
I've seen couple of issues about this errors, not sure what else I can supply:

[code]

[code]
[code]

[code]

[2020-07-27 16:29] hickeyma commented on #156
@whitecolor From the same system where you run the `helm3 2to3 convert` command, what is the output of command (using Helm v2)`helm history charta-dummy-app`?

[2020-07-29 07:48] digeler opened #157 "2to3 does not respect kubecontext flag"
plugin version : 2to3    0.6.0   migrate and cleanup Helm v2 configuration and releases in-place to Helm v3
helm version : version.BuildInfo{Version:"v3.2.4", GitCommit:"0ad800ef43d3b826f31a5ad8dfbb4fe05d143688", GitTreeState:"clean", GoVersion:"go1.13.12"}
os:windows

issue :
running kubectl get-contexts i see the following context :
PolyDgeUseGcKs    PolyDgeUseGcKs    clusterAdmin_PolyDgeUseGc_P

[2020-07-29 07:51] digeler opened #158 "Is there a way to bypass 2to3 confirm ?"
we are using the helm 2to3 convert grammatically in c# ,is there a way to bypass this confirmation :

2020/07/29 10:50:21 WARNING: Helm v3 configuration may be overwritten during this operation.
2020/07/29 10:50:21
[Move Config/confirm] Are you sure you w**ant to move the v2 configuration? [y/N]:**

we are using the c# start process :
 new Process
                {
                    StartInfo =

[2020-07-29 08:57] rimusz commented on #158
use `yes | helm3 2to3 move config`

[2020-07-29 09:14] digeler commented on #158
Thanks ,but am already running the process
StartInfo = new ProcessStartInfo
{
FileName = "helm3",
is there any other solution ,isnt there a parameter or a flag.

[2020-07-29 09:20] rimusz commented on #158
no, there is no other solution

[2020-07-29 09:22] digeler commented on #158
this does not work either :
![image](https://user-images.githubusercontent.com/4949529/88782369-2daf8a80-d196-11ea-8ea2-9048dbe598cd.png)

[2020-07-29 09:27] rimusz commented on #158
it works in bash:
[code]
Sorry not familiar with Windows doing such stuff as passing `yes` to the command.

What's your use case that you even want to automate helm config move?

[2020-07-29 09:40] digeler commented on #158
its a part of our automated code ,for multiple env
we also planing to automate the convert also.
the base os is windows

[2020-07-29 09:44] digeler commented on #158
tried git bash also no luck on windows :
![image](https://user-images.githubusercontent.com/4949529/88784918-3f466180-d199-11ea-834a-b98d98fd0f45.png)

[2020-07-29 11:44] rimusz commented on #158
sorry cannot help much when it comes to Windowz

[2020-07-30 06:48] digeler commented on #158
can someone from the community help me with this please , is the a way to add a flag to by pass it ?
thanks

[2020-07-30 08:00] hickeyma commented on #158
@digeler Something similar was added for the cleanup command in #154. Would you like to push a PR for it?

[2020-07-30 10:01] hickeyma commented on #157
@digeler I tested it using 2 different kind clusters as follows:

[code]

It is working as expected. Can you troubleshoot it further and see if you can identify the issue? I wonder, would you have different kube config files and are you access the correct one?

[2020-08-01 16:05] digeler commented on #157
it could be a windows issue ,we are using this from powershell
![image](https://user-images.githubusercontent.com/4949529/89103173-7d04ed80-d418-11ea-814e-cc7fe0f2c336.png)

geneva                  1               Wed Jul 29 11:58:48 2020        DEPLOYED        geneva-0.1.0                                    default
image-cleaner           1               Sat Aug  1 16:25:59 2020        DEPLOYED

[2020-08-01 16:27] digeler commented on #158
i can sure try ,ill let you know once am done , thanks

[2020-08-02 08:42] digeler commented on #158
https://github.com/helm/helm-2to3/pull/159

[2020-08-04 05:54] pc-rnukala1 opened #160 "Found 0 tiller pods , Error: plugin "2to3" exited with error"
I am trying to migrate an app from helm2 to helm3 and following the steps mentioned - https://helm.sh/blog/migrate-from-helm-v2-to-helm-v3/ and i get the below error. Can you please help me here

helm3 2to3 convert test-service -n test-app
2020/08/03 22:45:38 Release "test-service" will be converted from Helm v2 to Helm v3.
2020/08/03 22:45:38 [Helm 3] Release "test-service" will be created.
2020/

[2020-08-04 06:26] hickeyma commented on #160
@pc-rnukala1 This error implies that your Helm v2 does not have a Tiller instance running in the cluster. Are you using [Tillerless Helm](https://github.com/rimusz/helm-tiller)?

[2020-08-04 20:07] pc-rnukala1 commented on #160
@hickeyma - we have the tiller running too

$kubectl get pods -n tiller-system
NAME                            READY   STATUS    RESTARTS   AGE
tiller-deploy-89cbccbb9-n2r26   1/1     Running   0          14d

[2020-08-05 08:49] hickeyma commented on #160
@pc-rnukala1 If you Tiller namespace is `tiller-system`, then pass this using the ` -t, --tiller-ns` flag.

Can you try running this instead: `helm3 2to3 convert test-service -t  tiller-system`

[2020-08-10 06:17] digeler commented on #158
@hickeyma can you you or a maintainer approve the pr above please

[2020-08-11 09:13] hickeyma commented on #158
@digeler I have reviewed the pr and comments provided. Update when you get a chance.

[2020-08-12 15:56] vcorr commented on #147
I have the same problem. After running the conversion for my release I tried upgrading it with --dry-run flag, but I got the error:

`Error: rendered manifests contain a resource that already exists.
Unable to continue with install: Deployment "xyz" in namespace "xxx" exists and cannot be imported into the current release: invalid ownership metadata;
label validation error: missing key "app.kubern

[2020-08-13 09:54] vcorr commented on #147
I found one way to reduce the work at least. You can set the label and annotations with kubectl:

`kubectl -n xxx annotate --overwrite --all Deployment  meta.helm.sh/release-name=xxx`

This could be further improved of course by making a script that fetches all the objects in the release and fixes them all, but it's still a hack.
I'm still interested to know if there is a better way for this!

[2020-08-14 22:26] Nuru opened #162 "Issue upgrading tomcat 0.3.0 to 0.4.x"
After using `helm 2to3 convert <release>`, the release is still not in a proper state for `helm` version 3 to use, because it is missing [required metadata](https://github.com/helm/helm/pull/7649#issue-378057081). If you re-apply the current chart and values, `helm` will fix it for you, but if you immediately try to update the release with something new, it fails with an error like:

[code]

2to3

[2020-08-23 23:03] Nuru commented on #162
@dlipovetsky so far I have not reproduced this under Kubernetes 1.16. Reviewing my logs I can see that previously this occurred under Kubernetes 1.15 when updating the `apiVersion`. So that would correspond to your test, except starting with Tomcat chart version 0.3.0:
[code]
I have confirmed the above fails on a cluster running Kubernetes 1.15.10. I have confirmed that if the helm2 install is of

[2020-08-24 10:20] hickeyma commented on #160
Ant progress on this @pc-rnukala1

[2020-08-24 10:23] hickeyma commented on #156
Any progress @whitecolor?

[2020-08-24 12:04] whitecolor commented on #156
Yeah moved (by recreating) all releases to another cluster with heml3. So I believe should close this.

[2020-08-24 12:04] #156 closed

[2020-08-28 10:18] #152 closed

[2020-08-28 13:40] hickeyma commented on #162
@Nuru Thanks for raising this issue.

I will try my best to explain this by first providing some background on how it all fits together.

The `meta.helm.sh` annotations are new to Helm 3 (i.e. there were not in Helm 2 and not in Helm 3 prior to Helm 3.2.0). Their concept and the functionality to use them was added in PR https://github.com/helm/helm/pull/7649 for [Helm 3.2.0](https://github.com/hel

[2020-08-28 14:04] hickeyma commented on #147
@vcorr Added some background in https://github.com/helm/helm-2to3/issues/162#issuecomment-682581264. Hope this helps shed some light on your issue.

[2020-08-31 00:09] Nuru commented on #162
@hickeyma wrote:

That is what I thought, but it did not happen that way, which is why I opened this issue.

Why would a resource _not_ exist when I am trying to upgrade? The usual case for an upgrade is to modify existing resources.

As I [explained above](https://github.com/helm/helm-2to3/issues/162#issuecomment-678836265), `helm` complains that a resource that should have been imported by `helm

[2020-09-01 01:29] pc-rnukala1 commented on #160
@hickeyma - thats working, Thanks for the reply.

[2020-09-01 01:29] #160 closed

[2020-09-01 19:29] bacongobbler commented on #157
Flags like `--kube-context` are read by the Helm CLI, then scrubbed from the argument list. They are not passed along to the plugin. Once the kubernetes client has been created, there is no need for the plugin to read those flags.

I'm curious how you got `helm-2to3` installed natively on Windows, @digeler. The README does not provide instructions for users on Windows. You need to be running Helm

[2020-09-01 19:30] bacongobbler commented on #157
https://github.com/helm/helm-2to3#for-windows-using-wsl

[2020-09-01 19:30] bacongobbler commented on #157
[code]

[2020-09-01 19:36] bacongobbler commented on #157
Okay... I managed to get it working by manually installing the plugin.

Seems to work just fine on Windows. Tried using both WSL2 and with Powershell.

[code]

[2020-09-03 00:41] joejulian commented on #162
Rephrasing, please correct me if I'm wrong.

A chart template implemented the label `app.kubernetes.io/managed-by` that was _not_ required in helm2 but _is_ required in helm3, eg https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/deployment.yaml#L10.

Because that label was created with the content of "Tiller" the 2to3 conversion keeps that label the same.

H

[2020-09-03 12:10] hickeyma commented on #162
@joejulian The label `app.kubernetes.io/managed-by` is not required by Helm in its charts but  it is recommended to use it in Helm 2 and Helm 3. It is set to the `Release.Service` property during deployment (install/upgrade), which is `Tiller` on v2 and `Helm` on v3. The `2to3` plugin did not change this label because it is part of the rendered manifests which is a big blob of string. The reason f

[2020-09-03 13:15] hickeyma commented on #157
The plugin is parsing the following flags from the Helm CLI: `--kube-context` and `--kubeconfig`

Thanks @bacongobbler for testing this on a Windows system and providing the feedback.

[2020-09-03 16:54] joejulian commented on #162
I'm also thinking it may be unfixable. In the cert-manager chart linked above, they used that label as part of the selector. Any template that does this cannot be upgraded because the selector is immutable.

[2020-09-04 16:25] marckhouzam commented on #157
This is half right I believe.
When calling, for example:
[code]
then helm removes the global flags and possess then to the plugin through environment variables (HELM_ KUBECONTEXT in this case).

However, when calling the plugin binary directly like so:
[code]
then the plugin parses the flag itself.

[2020-09-04 16:28] marckhouzam commented on #157
I've corrected my previous comment which had many typos (sorry, it's my phone 😇)

[2020-09-04 16:28] bacongobbler commented on #157
Sorry. Yeah, that was Helm 2's old behaviour when `useTiller: true` was present in plugin.yaml, but now it's passed down to the plugin. @marckhouzam and @hickeyma are correct here.

[2020-09-07 09:02] hickeyma commented on #157
@marckhouzam I decided to leave out all the deep implementation details and just said the flags work! 🤣

[2020-09-12 21:12] Nuru commented on #162
@hickeyma wrote:

I explained the steps to reproduce this consistently in https://github.com/helm/helm-2to3/issues/162#issuecomment-678836265. If you do not have a Kubernetes 1.15 cluster, you can create one on AWS with EKS for probably only a few dollars if you just leave it running long enough to run the tests. You can also [create a local Kubernetes cluster](https://docs.docker.com/get-started/

[2020-09-24 11:02] #158 closed

[2020-09-24 11:09] hickeyma commented on #157
@digeler The plugin is installable on Windows as tested by @bacongobbler above and documented in https://github.com/helm/helm-2to3#for-windows-using-wsl. Do you have any further information to help reproduce the issue?

[2020-09-24 14:24] hickeyma commented on #162
Thanks for responding @Nuru. I am able to reproduce it now and not sure why I was unable previously but maybe because I didn't update the version in the upgrade.  My apologies.

[code]

[2020-09-24 14:48] hickeyma commented on #162
I am unsure yet why the Helm 3 upgrade is checking the `meta.helm.sh` annotations and the label `app.kubernetes.io/managed-by` as they are not part of the `stable/tomcat` chart in both versions.  I have noticed that when you upgrade tomcat, it creates an additional pod and maintains the existing pod. Here is an example of the tomcat upgrade I did:

[code]
I am unsure if this is expected behavior o

[2020-09-25 19:20] Nuru commented on #162
@hickeyma wrote:

This is a problem that people will likely run into before documentation will help. It is nothing specific to the `tomcat` chart, and for custom apps (what companies are building for their customers), it is often the case that repeating the exact helm2 deploy with helm3 is not practical.

As it stands, `2to3` does not fulfill its basic promise to convert a helm2 release to a helm3

[2020-09-28 08:39] hickeyma commented on #162
If a person does then they do the upgrade as described in  https://github.com/helm/helm-2to3/issues/162#issuecomment-698393251. It will not block them.

I am yet to see a recurring pattern with other charts and in other scenarios.  It is an edge case which will be investigated to see if it can be handled. The workaround is in place for the moment.

[2020-10-01 14:29] harridu opened #165 "Helm 2 and Helm 3 release version storage names clash (again)"
Looking at #30 this is not supposed to happen:
[code]

[2020-10-01 14:40] rimusz commented on #165
can you run and check what secrets are in the namespace?

[2020-10-01 14:58] harridu commented on #165
I am not quite sure which namespace you mean, but I would guess
[code]

[2020-10-01 15:04] rimusz commented on #165
I see you already have helm v3 secret `sh.helm.release.v1.rancher.v1` there, then of course it will fail.

[2020-10-01 15:09] harridu commented on #165
Sorry, that might be from a previous attempt to migrate to helm3. Shouldn't the dry run notice?

Is this helm3 secret safe to remove?

[2020-10-01 15:10] rimusz commented on #165
it must be, it is safe if you not using it as helm v3 release

[2020-10-01 15:35] harridu commented on #165
Apparently it worked, so thanx very much. I highly appreciate your support (and patience). Sorry for opening a bug report for a user error.

[2020-10-01 15:35] #165 closed

[2020-10-06 18:08] Nuru commented on #162
@hickeyma

The pattern I see is that the first update to a release after running `helm2to3` (using helm3 for the first time on the release) will fail if the update would remove a resource. A common reason for an update to remove a resource is to replace it with a resource of the same general kind, but a newer API version. I believe this happens with `tomcat` as it replaces the `apps/v1beta2` Deplo

[2020-10-08 14:29] hickeyma commented on #157
Any update @digeler?

[2020-10-09 17:47] hickeyma commented on #162
I think that it is correct in that it is reason for causing the unexpected situation in the cluster (i.e. pod nopt been replaced) but I think it is Kubernetes itself which is not handling the `patch` request from Helm when a `helm upgrade` is called. i will try and explain it from further investigations below.

[2020-10-09 18:09] hickeyma commented on #162
Firstly, the `Deployment` template for v0.3.0:

[code]

and `Deployment` template for v0.4.1:

[code]

have different `APIVersion` as you mentioned. Kuberentes should be able to handle both the deprecated `apps/v1beta2` and supported `apps/v1` APIs in Kubernetes 1.15 as the deprecated API are not yet removed.

On Kubernetes 1.15, when installing (using Helm 3 only) tomcat version (0.3.0) it deploy

[2020-10-09 19:02] hickeyma commented on #162
I think there will be an issue with any chart as follows:

- where one version uses a deprecated `APIVersion` and another version uses a supported one
- it is installed with the deprecated `APIVersion` and you then upgrade with the supported one in a Kubernetes cluster that still supports the deprecated API (e.g. 1.15)

Kubernetes will probably handle it in much the same manner as https://github.c

[2020-10-09 19:07] hickeyma commented on #162
My suggestion would be to protect users from trying to upgrade with updated APIs where the deprecated API is still supported.

[2020-10-12 19:55] Nuru commented on #162
@hickeyma Your test in https://github.com/helm/helm-2to3/issues/162#issuecomment-706328708 is flawed because you used an unsupported version of `kubectl` (see [kubectl version skew policy](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl)):
[code]

I suggest re-running your test with [kubectl v1.16.15](https://github.com/kubernetes/kubectl/releases/tag/v0.16.15).

[2020-10-14 17:43] bacongobbler opened #166 "Add Docker authentication to CircleCI jobs"
Starting November 1, 2020, Docker Hub will impose rate limits based on the originating IP. Since CircleCI runs jobs from a shared pool of IPs, it is highly recommended to use authenticated Docker pulls with Docker Hub to avoid rate limit problems.

More information on how to apply authentication to CI jobs can be found here: https://circleci.com/docs/2.0/private-images/

https://github.com/helm/he

[2020-10-14 18:10] rimusz commented on #166
@bacongobbler do we docker hub user in Helm org which we could use there?

[2020-10-15 17:11] bacongobbler commented on #166
There is a helm user account available for the helm project itself. @hickeyma should be able to access and use those credentials.

See https://github.com/helm/helm/pull/8887.

[2020-10-29 02:55] Ruifeng-Wu opened #168 "helm3 convert error"
<img width="836" alt="xx" src="https://user-images.githubusercontent.com/25561978/97519808-c98aa580-19d4-11eb-869f-b774df92d55f.png">

The first few steps succeeded, but failed at the conversion.

[2020-10-31 10:55] marckhouzam commented on #168
Do you actually have a release named `RELEASE` on your cluster?  Normally you would replace the word `RELEASE` with an real release name.

[2020-11-02 13:25] hickeyma commented on #157
Closing this as no response since August. Can re-open if more details are provided.

[2020-11-02 13:25] #157 closed

[2020-11-02 20:21] #166 closed

[2020-11-03 11:44] HamzaZo opened #171 "Error: create: failed to create: the server responded with the status code 413"
Hello Community

I'm facing an error while using the plugin to migrate prometheus-operator chart from Helm 2 -> Helm 3

The release is well deployed on Helm 2
[code]
Output of error
[code]

I don't understand why the plugin said that the release is too large for him

Any help are appreciate

cc @hickeyma

[2020-11-03 12:44] hickeyma commented on #171
@HamzaZo Thanks for raising the issue. I will try and reproduce this issue as unsure what is causing this. Where did you install the chart from?

[2020-11-03 12:45] hickeyma commented on #171
@HamzaZo Might be related to this issue in Helm: https://github.com/helm/helm/issues/4471 ?

[2020-11-03 13:26] HamzaZo commented on #171
@hickeyma Thank you for your reply,

Where did you install the chart from? In a kubernetes GKE cluster using the stable prometheus chart

[2020-11-03 13:28] hickeyma commented on #171
Sorry, where did you get the chart? Want to make sure I have the version you used.

[2020-11-03 13:31] HamzaZo commented on #171
From this repo https://github.com/prometheus-community/helm-charts/tree/kube-prometheus-stack-9.4.10/charts/kube-prometheus-stack

[2020-11-04 10:31] HamzaZo commented on #171
Hello @hickeyma

I think the issue is related to [8281](https://github.com/helm/helm/issues/8281), but unfortunately there is no update on the issue

[2020-11-04 11:49] hickeyma commented on #171
So, tried this out by installing the prometheus stack first as follows using Helm 2:

[code]

[2020-11-04 11:54] hickeyma commented on #171
The migration succeeds as follows:

[code]

[2020-11-04 11:58] hickeyma commented on #171
As I am unable to reproduce this, I wonder has it to do with the cluster and amount of resources deployed already in it? I am using a clean Kind cluster and the install take a good long time as a lot of resources are deployed in a prometheus stack install.

Even just looking at the secrets and configmaps alone, you have:

[code]

That is why I should the full output of the Helm 2 install of the ch

[2020-11-05 08:55] prajnadnayak commented on #171
I am getting the 413 error with both ConfigMaps and Secrets.

Error: the server responded with the status code 413 but did not return more information (post configmaps)
helm.go:75: [debug] the server responded with the status code 413 but did not return more information (post configmaps)

The size of the chart is less than 1MB. I have deleted and recreated the namespace where the release was deplo

[2020-11-05 10:53] leelanakka commented on #147
HI @hickeyma ,

I'm getting the similar kind of issue please tell me the solution for it.
[code]

[2020-11-11 10:39] hickeyma commented on #171
@HamzaZo I think that this issue is a Helm related issue as raised in [8281](https://github.com/helm/helm/issues/8281). I think it is outside the scope of the plugin.
If so, can this issue be closed and tracked in [8281](https://github.com/helm/helm/issues/8281) instead?

[2020-11-11 10:45] hickeyma commented on #168
Ping @Ruifeng-Wu, any more details on this issue?

[2020-11-11 18:06] hickeyma commented on #162
@Nuru The test needs to be run in a cluster with Kubernetes 1.15 as the deprecated API is not removed in that version. Hence, I can show the issue happening when you try to upgrade a release with deprecated API, with a chart containing the new or supported API.

[2020-11-11 18:29] hickeyma commented on #162
Updated the issue title to better describe the issue.  Analysis of issue described in https://github.com/helm/helm-2to3/issues/162#issuecomment-706353008.

The issue is not with the plugin but a side effect of the Kubernetes API and Helm chart. Closing the issue therefore.

[2020-11-11 18:35] rimusz commented on #162
I agree with @hickeyma here as well, this plugin cannot cover all edges cases.

[2020-11-11 19:05] HamzaZo commented on #171
@hickeyma Yeah we can close it thanks for your reply

[2020-11-11 19:05] #171 closed

[2020-11-11 19:56] Nuru commented on #162
@rimusz I disagree that this is an edge case that should not be supported. At any given time, for any release of Kubernetes since at least 1.14, Kubernetes supports some deprecated APIs and some replacement APIs. This issue arises any time someone tries to simultaneously upgrade from helm 2 to helm 3 and from deprecated to newly supported APIs. These are likely to go together as part of generally

[2020-11-12 09:27] hickeyma commented on #162
I agree with you @Nuru that it is **not** an edge case it should be supported. It is however not something that the plugin can solve as such.

It is a issue that occur when you upgrade a release with deprecated Kubernetes APIs with a new version of the `tomcat` chart which contains new supported APIs. The problem is that previous pod is not updated and you end up with 2 versions of the pod.

I wil

[2020-11-12 11:05] rimusz commented on #162
@Nuru I have update my comment, plugin has its limits as well.

I do not really agreed on `upgrade from helm 2 to helm 3 and from deprecated to newly supported APIs.`
The recommend scenario is to make all upgrades with helm v2 first using the latest chart version, then only migrate to helm v3.

[2020-11-12 12:35] hickeyma commented on #162
@Nuru I have raised https://github.com/helm/helm/issues/9014 in Helm core.

[2020-11-12 19:11] Nuru commented on #162
@rimusz

The problem will still occur if the _next_ version of the chart upgrades the `apiVersion`.

@hickeyma I disagree with you changing the title of this issue. I was using the `tomcat` chart as an example. https://github.com/helm/helm/issues/9014#issuecomment-726138977 cites "about half a dozen charts" that had this problem. I ran into the problem with several non-public charts that updated t

[2020-11-12 21:38] hickeyma commented on #162
I changed the title to better describe the problem. At this moment we are only able to reproduce this issue using the `stable/tomcat` chart. I can broaden the title when I receive other ways/charts of reproducing the issue.

[code]

Yes the error message is from Helm. Yes you are seeing this error after a conversion.  But the underlying problem when you "peel back the onion" is fundamentally how K

[2020-11-13 12:25] hickeyma commented on #162
The fundamental issue may have to do with just upgrading from one tomcat version to another: https://github.com/helm/helm/issues/9014#issuecomment-726732491.

[2020-11-17 20:41] rchenzheng opened #174 "Random Error: found '$CHART, expected: ',' or 'end of string' Error: plugin "2to3" exited with error"
I've been trying to upgrade to helm3 and every once in a while I run into ```expected: ',' or 'end of string'```

[code]

HELM2 2.13.1 and HELM 3.3.4

After 30 min or so, it starts working again, not sure what's causing this

[2020-11-17 23:24] rchenzheng commented on #174
Looks like I was doing something silly in my shell script. My array was of single element and failing to process it.

[2020-11-17 23:24] #174 closed

[2020-11-30 11:01] hickeyma commented on #168
Closing this as no response. Can re-open if needed.

[2020-11-30 11:01] #168 closed

[2020-12-14 22:19] sarahhodne opened #175 "helm 2to3 cleanup creates many client instances per release"
I just ran `helm 2to3 cleanup` against an EKS cluster, where the kubeconfig contains an exec auth config, and got this line about 80 times per ReleaseVersion that was deleted:

[code]

(with the number near the end incrementing for every time the line was outputted)

This is probably fine, but a bit inefficient and makes the logs from `helm 2to3 cleanup` very difficult to read, since they are full

[2020-12-15 17:26] bacongobbler commented on #175
We've discovered this issue in helm/helm a while back as well. It was attributed to a pkg/kube recreating the clientset each call to Kubernetes.

See https://github.com/helm/helm/issues/8854 and the fix at https://github.com/helm/helm/pull/8855 for more context.

If helm-2to3 is using the same client packages, it may be worth updating to Helm 3.4.1 to receive the fix.

[2020-12-15 17:27] bacongobbler commented on #175
https://github.com/helm/helm-2to3/blob/33c73b1dc51983dd318fcd74f4eff8b2d473a88b/go.mod#L14

[2020-12-16 18:44] hickeyma commented on #175
@sarahhodne Thanks for raising the issue.

@bacongobbler Thanks for the feedback. Have pushed PR #176.

[2020-12-17 09:18] #175 closed

[2021-01-21 03:22] gitkent opened #177 "helm chart linting"
Hi all,

We have multiple applications with chart created from helm2 client. We are recently migrating to Helm3. As part of the deployment, we doing helm linting but it seems it is not happy when the chart doesn't has `spec.selector.matchExpression`. for e.g.

[code]

I understand that this new linting rule (https://github.com/helm/helm/pull/8142) has been added that comes with Helm3. We have adde

[2021-01-21 07:47] rimusz commented on #177
I'm not aware of any tool which can insert these required fields into charts.

[2021-02-23 17:08] rimusz opened #181 "Add darwin/arm64 (Apple Silicon) support"
Build binary for Apple Silicon.

[2021-03-02 10:13] hickeyma commented on #177
@gitkent I would think the best approach would be to just update the relevant file(s) in your charts. As @rimusz said not sure there is a tool available for this.

Let us know if you are able to progress.

[2021-03-02 10:14] hickeyma commented on #181
That would be nice to add @rimusz. Thanks for raising.

[2021-03-08 09:39] #181 closed

[2021-04-06 11:24] OfirYaron opened #184 "Error: open /Users/xxx/Library/Caches/helm/repository/local-index.yaml: no such file or directory"
I'm in the process of moving my deployment from helm2 to 3 and after running running the plugin I'm working on moving dependency definition to their new home anther the chart.yaml

but when running `helm3 dep update` I'm getting the following

`

WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /Users/xxx/.kube/config
WARNING: Kubernetes configuration file is w

[2021-04-11 15:01] OfirYaron commented on #184
Problem caused by missing `local-index.yaml` missing in helm3 after migrating from helm2 which was using local repository and has some of deployment being referenced from the `stable-index.yaml`

since helm3 didn't create or need/use `local-index.yaml` - I've copied it manually to solve the problem.

[2021-04-11 15:01] #184 closed

[2021-04-14 12:06] sta-szek opened #185 "Cannot migrate to helm 3 when chart contains helm-hook with job"
Hi guys,
i am trying to migrate to helm 3. i use 2to3 plugin. first i check if the release is installed using helm2, if so, i migrate to helm3 using the plugin, then i do upgrade.

my helm chart consist of deployment which has pre-install & pre-upgrade hook. The hook has `-migrations` suffix in name.

i cannot understand the error, what can be wrong with listed parameter: `app`, `release`, `revisi

[2021-04-14 23:08] nodesocket opened #186 "Ok to delete tiller serviceaccount, clusterrolebinding and namespace"
Ran through the migration and everything worked great. Noticed that the `tiller` Kubernetes namespace, `serviceaccount`, and `clusterrolebindings` are still left orphaned though. Is it safe to remove these?

[code]

[2021-04-14 23:24] marckhouzam commented on #186
Yes, I removed them manually at the end of my migrations.

[2021-04-14 23:54] #186 closed

[2021-04-15 06:48] sta-szek commented on #185
@bacongobbler the issue occurs when you execute command `helm3 upgrade` but not `helm3 2to3 convert` -- how do you know it is related to the plugin?

[2021-04-15 07:42] sta-szek commented on #185
today i tried workaround:

* deploy app with helm 2
* disable hook & migrate to helm3, deploy using helm3 -- works
* enable hook -- failed

the same exception:

[code]

so looks like helm3 does not work properly with my hook for some reason.

[2021-04-15 08:12] sta-szek commented on #185
i managed to solve the issue.
it turned out that my Job definition is not fully valid K8S Object -- it contains additional fields in `metadata`.
looks like helm3 started to validate the K8S Objects before deployment, against some K8S validation API? this caused deployment to be broken.

what could be improved is the error message, clearly saying that validation phase is broken as objects are not f

[2021-04-15 08:12] #185 closed

[2021-04-15 09:16] hickeyma commented on #177
@gitkent Any update on this?

[2021-04-15 23:05] gitkent commented on #177
@hickeyma All good. We'd been updating chart manually for now.

[2021-04-15 23:05] #177 closed

[2021-04-16 07:38] Belyenochi commented on #171
same

[2021-04-22 00:29] nodesocket opened #187 "Modify release-versions-max after migrating cluster from 2 to 3"
I used the plugin `2to3` to migrate a Helm 2 to Helm 3 deployment.

[code]

The problem is now my secrets are filled with chart release versions. Is there a way to modify `release-versions-max` after the fact? I'd like to reduce this to a more manageable `10` for all charts.

[2021-05-06 11:11] hickeyma commented on #187
@nodesocket Sorry to hear that you converted over more release versions than you intended. FYI, if you don't specify `--release-versions-max` it defaults to 10.

The way to do this is remove the secret corresponding to the chart release versions you don't want. This should be done with the oldest (i.e.  smallest version number) and in a consecutive block (i.e. don't remove versions in an adhoc fas

[2021-05-10 10:49] hickeyma commented on #187
@nodesocket yes, it will convert the latest number of release versions as per the max value.

[2021-05-10 17:27] nodesocket commented on #187
@hickeyma thanks so much.

[2021-05-10 17:27] #187 closed

[2021-05-20 20:04] Habitats opened #189 "Error installing plugin under WSL1 with Helm 3.5.4"
I've installed `helm3` successfully under WSL1
[code]
But when I try to install the plugin this happens
[code]

[2021-06-02 14:40] hickeyma commented on #189
@Habitats Maybe the install script was modified to be Windows file format. Not sure what caused this.  Regardless, running `dos2unix` fixes it and enables you to continue.

As its working for you for now, I'll close this and we can re-open if need be.

[2021-06-15 13:39] jackiig opened #192 "Error: RELEASE_NAME has no deployed releases"
Attempting to upgrade a Gitlab managed cluster from helm2 to helm3.  Way late to the party on this change, unfortunately.

Thanks to the other Issues I found on Github, I have tried to check which namespace the config is in (`redirect`, which is also the current namespace in `kubeconfig`) from Issue #136.  I also added `--tiller-ns` to the  command per Issue #97, and checked where the `--release-s

[2021-06-15 14:12] hickeyma commented on #192
@jackiig Looks like you are using Tiller outside of the cluster for Helm 2, similar to Tillerless. But you also running Tiller in the cluster. Might get bit confusing! :)

The Tiller namespace also seems to be `redirect` as that is where the `production` release data is stored. Helm 2 stores the release data in the Tiller namespace. Helm 3 stores it in the namespace of the release.

Assuming you w

[2021-06-16 12:25] jackiig commented on #192
@hickeyma You are a rockstar.  Thank you.  I think I had tried most of those, just not together.

Thank you, thank you, thank you.

[2021-06-16 12:25] #192 closed

[2021-08-28 10:48] DeirdreRodgers commented on #147
I've had a similar issue but my situation might be a little different. I deleted and purged a helm2 chart and reployed as helm3 and I ran into this issue. We solved it my checking the deployment associated with the helm. It hadnt been deleted for some reason when we did a helm delete --purge. Once we deleted it and redeployed we had no issues. Maybe this might help some people

[2021-09-03 12:00] archi144 commented on #147
I've had a same issue. After migration from Helm2 to Helm3 my new manifests included new api version of ingress. And helm3 raise a error:
_Error: UPGRADE FAILED: rendered manifests contain a resource that already exists. Unable to continue with update: Ingress "test-ingress" in namespace "helm-migration-experiments" exists and cannot be imported into the current release: invalid ownership metadata

[2021-11-24 11:14] srinivasev commented on #148
Hi @hickeyma ,
I don't have this directory in my container.
`${HOME}/.local/share/helm/plugins/`

We are making use of helm like below -
[code]

Where should the plugins directory be extracted in this case?

[2021-11-24 11:36] hickeyma commented on #148
@srinivasev  create the directory and follow steps in https://github.com/helm/helm-2to3/issues/148#issuecomment-630780203

[2021-11-24 11:50] srinivasev commented on #148
Hi @hickeyma ,

I tried the same in my container. its not listing for me,

![image](https://user-images.githubusercontent.com/11441751/143233303-ec839c2d-37bc-4ff4-9759-bb2da9e179b6.png)

[2021-11-24 12:06] srinivasev commented on #148
Hi @hickeyma ,

Thanks, now it is listing the plugin.

Can you please let me know what additional thing to check here? From the above comments, I didn't understand what has to be done for this error.

![image](https://user-images.githubusercontent.com/11441751/143235286-4fdda2ab-37cf-418b-8ace-5d4a4b96d6da.png)

[2021-11-24 14:21] hickeyma commented on #148
That should be it. Have a look at [Helm Plugins](https://helm.sh/docs/topics/plugins/) docs for more details.

[2021-11-25 05:30] srinivasev commented on #148
Hi @hickeyma ,

I am able to place the 2to3 plugin in respective folders successfully and invoke the convert command.

But facing below error, what could be the reason ?

`/opt/ood/config/be/cbnfvo/Kubernetes_1.1.0/helm/helm 2to3 convert helloworldhelm3 --namespace="cnfdeployments" error message: WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /tmp/9026c1e4-57

[2021-11-25 13:11] srinivasev commented on #148
Hi,
Its working fine now.

The forbidden issue is because I have a proxy set in my docker file. Removing that resolved the issue.

[2021-12-02 08:06] srinivasev opened #196 "helm2 lists the migrated releases"
Hi @hickeyma ,

This is a support/information question.

Is there an option to show only helm2 releases which are undergone migration yet to helm3?.

I have a use case where I need to display both helm2 and helm3 releases in a namespace. I am currently running 2 commands from my code -
helm list --kubeconfig /tmp/kube.yaml --output json
helm3 list --kubeconfig /tmp/kube.yaml --output json

As helm

[2021-12-02 09:38] hickeyma commented on #196
When you migrate a release and you are happy it is migrated as expected, you can remove that release from v2 with following command: `helm 2to3 cleanup --release-cleanup --name <release_name>`.  Then the migrated release is only visible by v3.

[2021-12-02 09:44] srinivasev commented on #196
As this is performed in the customer environment, I am not supposed to perform any cleanup activity. I found this in the documentation but forgot to put in my question above.

[2021-12-02 10:15] hickeyma commented on #196
Well, if you don't clean up the release from v2, it will remain visible to v2.  The goal of the tool is to migrate and cleanup releases.

Helm will show what releases are available. If you don't cleanup, then they are still available.

I am unsure what you are looking for the tool to do.

[2021-12-18 10:29] srinivasev commented on #196
Hi @hickeyma ,

Thanks for the clarification.

[2021-12-18 10:29] #196 closed

[2022-01-31 19:00] cod-r commented on #171
I had this error message when trying to install kube-prometheus-stack.

I have an nginx load balancer in front of kube-apiserver for high availability.
**Note:** don't confuse this with nginx ingress controler.

By default nginx has `client_max_body_size 1m`.
To solve the problem I had to increase this setting by editing `/etc/nginx/nginx.conf` in my ubuntu VM:
[code]
And if you're using Rancher y

[2022-02-07 23:43] dlee-rt opened #202 "Plugin not available for MacOS running on M1"
Hi, I am trying to use the 2to3 plugin, but installing the plugin doesn't work with M1 because the package doesn't exist. When trying to install, helm looks for helm-2to3_0.10.0_darwin_arm64.tar.gz.

Are there any plans to add support for M1, or an alternative to installing 2to3 on the M1 arm64 platform?

[2022-02-08 00:44] dlee-rt commented on #202
I've installed from source and can use the plugin now. Should've read the whole README (sorry!)

[2022-02-08 00:44] #202 closed

[2022-03-09 14:59] AreebAbdulGhani opened #203 "Datree helm plugin in windows not install installed"
![post](https://user-images.githubusercontent.com/92576221/157467708-daa728ea-5987-48a2-89f7-3c43d6c56a7f.png)

[2022-04-13 08:29] westwind-sc opened #205 "Asset for Darwin_arm64 missed in v0.10.0"
Asset for Darwin_arm64 existed in [v0.8.2](https://github.com/helm/helm-2to3/releases/tag/v0.8.2) and [v0.9.0](https://github.com/helm/helm-2to3/releases/tag/v0.9.0), but missed in [v0.10.0](https://github.com/helm/helm-2to3/releases/tag/v0.10.0)

As `helm plugin install https://github.com/helm/helm-2to3` is using the latest version, the missing will cause install failure.
Could you help to publis

[2022-04-21 18:58] udayalwala opened #206 "failed to create: Secret "sh.helm.release.v1.v54" is invalid: data: Too long: must have at most 1048576 bytes"
I am trying to convert chart from helm 2to3. release has almost 63 revisions. all this information stored as configmap in helm2. but while converting the release from helm 2to3 i am getting the error as below

Error: create: failed to create: Secret "sh.helm.release.v1..v54" is invalid: data: Too long: must have at most 1048576 bytes
Error: plugin "2to3" exited with error
helm.go:76: [debug] plugi

[2022-04-25 11:05] hickeyma commented on #206
@udayalwala This looks like the issue Helm encounters when it tries to store a record which exceeds the 1M limit set by etcd. Not sure how Helm 2 allowed it to be stored in the first place, as I thought ConfigMaps have a similar limit. Check out this [Helm issue](https://github.com/helm/helm/issues/9788) and [this issue](https://github.com/helm/helm/issues/6711) for more details.

I am unsure the

[2022-06-14 03:15] lostllama opened #207 "invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable"
I can't get 2to3 to work.

Move config works:

[code]
Using helm2 to list the helm v2 releases works:
[code]
Using helm3 to list the deployed helm3 releases works:
[code]
But upgrading doesn't:
[code]
Even passing the context doesn't work (although the error changes slightly):
[code]
Helm 2 version details:
[code]
Helm 3 version details:
[code]
Kubectl version:
[code]
Other info:
[code]

[2022-06-14 06:07] lostllama commented on #207
Oddly enough, I've left it for some time without making any changes to anything and it now works.

[2022-07-01 11:17] rimusz commented on #205
fixed in https://github.com/helm/helm-2to3/releases/tag/v0.10.1

[2022-07-01 11:17] #205 closed

[2022-07-01 11:18] #207 closed

[2022-08-05 10:12] GavBurke opened #211 "Default behaviour of convert looks to be cleaning v2 releases when it should leave them"
I've recently taken over a project where the helm 2to3 convert has been used for some time, so we seem to be in a place where we have no v2 releases so I've been asked to cleanup the v2 releases now.  Looking at previous code, the convert was done with the following command
`helm 2to3 convert $NS --tiller-ns $TILLER_NS`

According to [https://github.com/helm/helm-2to3#migrate-helm-v2-releases](htt

[2022-08-18 13:29] hickeyma commented on #211
@GavBurke To help troubleshoot this issue, I have unfortunately more questions than answers.

Are the 10 converted release versions still in the cluster or were they already removed? You can check using a command similar to the following: `kubectl get configmap -n <tiller_namespace> -l "OWNER=TILLER" | awk '{print $1}' | grep -v NAME | cut -d '.' -f1`

How do you know the previous convert removed

[2022-08-18 13:59] hickeyma commented on #211
Also, `cleanup` command needs to have the specific release name (`--name <release_name>`) or otherwise it will cleanup all v2 releases.

[2022-08-18 14:25] GavBurke commented on #211
@hickeyma We use `kubectl -n $TILLER_NS get configmap --ignore-not-found | grep -Eq "^$NS\.v[0-9]+ "` to find any existing v2 releases, and if found then run the `helm 2to3 convert $NS --tiller-ns $TILLER_NS`, which by default converts the newest ten.

So maybe I'm misunderstading what a `kubectl get configmap` should show afterwards, but after we've got an output like so

[code]

When I run that

[2022-08-18 14:42] hickeyma commented on #211
Yes, if they still exist in the cluster. That was the `kubectl` command I gave above which should return any v2 release left in the cluster.

[2022-08-18 15:18] GavBurke commented on #211
Okay, then this is my misunderstanding, not realising the place to "look" for v2 releases differs from v3.... I've just ran `helm 2to3 cleanup --release-cleanup --tiller-ns $TILLER_NS --dry-run` on the above environment and indeed do see the five previous releases to be deleted.  Presumably then someone had cleared up the other ten releases previously for me to have seen that behaviour.  Thanks @h

[2022-08-18 15:18] #211 closed

[2022-11-08 12:19] huang-jy opened #215 "Plugin does not delete helm2 release history when using `--ignore-already-migrated`"
We are in the process of migrating our helm2 charts to helm3 and are using this plugin to help us.

We have however, encountered what appears to be anomalous behaviour with it.

We migrated one of our charts and it ported the history over successfully, but bailed on deleting the releases under helm2:

[code]

When we restarted, the migration bailed again:

[code]

So we used the `--ignore-already-